	.body{font-family: arial; font-size:12px;}
	p{ margin:0; padding:0;}
	.container{width: 950px;overflow: hidden;}
	.circle a{color: #333;text-decoration: none;outline: none;}
	.circle a:hover{color: #fff!important;text-decoration: none;cursor:pointer!important;}
	.circle a:selected{color: #fed007;text-decoration: none;cursor:pointer!important;}
	.circle {
	width: 75px;
	height: 75px;
	
   	background-color: #fcd10a; background-image: -webkit-gradient(linear, left top, left bottom, from(#fcd10a), to(#f7b71a));
	 background-image: -webkit-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: -moz-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: -ms-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: -o-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: linear-gradient(to bottom, #fcd10a, #f7b71a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcd10a, endColorstr=#f7b71a);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 3px solid #fff;
	color: #333;
	float: left;
	font-weight:bold;
	font-size:12px;
	vertical-align: middle;
	text-align: center;
}
.circle:hover,.circle .open {
	width: 75px;
	height: 75px;
	background: #005ca6!important;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #fff;
	float: left;
	color: #fed007!important;
}
.circle .open > a{color: #fed007!important;}
.tata-tabs div {float: left;}
.tata-tabs .dropdown-menu{background:#fed007;min-width: 110px;}
.tata-tabs .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .customDropdown >li > a:hover{background:#333;color: #fff;}
.help-links{padding-top: 22px;position: absolute;right: 2px;top: -2px;}
.help-links a{font-size: 11px;color: #333;}
.header{width: 944px;}
.body-container{width: 943px;margin-left: 1px;}
.body-container.full-width{
    width: 100%;
}
.filter-container{
background-color: #fcd10a; background-image: -webkit-gradient(linear, left top, left bottom, from(#fcd10a), to(#f7b71a));
	 background-image: -webkit-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: -moz-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: -ms-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: -o-linear-gradient(top, #fcd10a, #f7b71a);
	 background-image: linear-gradient(to bottom, #fcd10a, #f7b71a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcd10a, endColorstr=#f7b71a);
	
padding: 10px;border-radius: 0 0  8px 8px;}
.filter-container-options{background: #fbb813;padding: 10px 10px 0 10px;margin-bottom: 10px;border-radius: 7px;}
.filter-container-options img{float: left;}
.filter-container-options div{margin-bottom: 10px;}
.body-content{color: #fff;}
h1.myaccount{background: url(../../images/arrow.png);width: 100%;height: 21px;background-repeat: no-repeat;color:#fed007;font-size: 18px;padding-left: 32px; font-weight:bold; margin:0 0 20px 20px}
.table-data{border: 1px solid #fff;width: 100%;margin-top: 20px;}
.table-data th:last-child,.table-data td:last-child{border-right:0;}
.table-data th{background: #333333;color: #fff;text-align: center;width: 20%;padding:5px;border-right:1px solid #fff;border-top:1px solid #fff;}
.table-data td{background: #005fae;color: #fff;text-align: center;width: 20%;padding:5px;border-right:1px solid #fff;border-top:1px solid #fff}
.table-data td.totalbg{background:#ffbe18;color: #333333;text-align: center;width: 20%;padding:5px;border-right:1px solid #fff;border-top:1px solid #fff; font-weight:bold;}
.filter-panel{border: 1px solid #fbb813;border-radius: 8px;margin-bottom: 20px; width:181px;}
.filter-panel .headline{background: #333333;color: #fff;padding: 10px;border-radius: 8px 8px 0 0;}
.input-box{border-radius:4px;border: 0;width: 80%;margin-left: 5px;padding-left: 10px;}
.body-content{background: #0266b1;}
.help-links .faq-options{float: left;padding:25px 0 0 0; font-size:12px; font-weight:bold; color:#3d3727;}
.help-links .pipe{float: left;padding: 22px 5px;}
.menu-background{background:url(../../images/header-bg.png);width: 100%;height: 209px;background-repeat: no-repeat;background-size: 100%;}
.logo{padding:60px 0 0 10px;}
.tata-tabs .circle1{margin-top: 87px;margin-left: 38px;margin-right: 1px;padding-top: 25px;  } 
.tata-tabs .circle2{margin-top: 63px;margin-left: 0px;margin-right: 1px;padding-top: 22px;    line-height:13px;} 
.tata-tabs .circle3{margin-top: 38px;margin-left: 0px;margin-right: 4px;padding-top: 14px;    padding:22px 2px 0 5px;line-height:13px;} 
.tata-tabs .circle4{margin-top: 29px;margin-left: 0px;margin-right: 4px;padding-top: 12px; line-height:13px; padding-top: 18px;} 
.tata-tabs .circle5{margin-top: 37px;margin-left: 0px;margin-right: 1px;padding-top: 25px;   } 
.tata-tabs .circle6{margin-top: 60px;margin-left: 0px;margin-right: 1px;padding-top: 25px;    line-height:13px; } 
.tata-tabs .circle7{margin-top: 81px;margin-left: 2px;margin-right: 2px;padding-top: 26px;    } 
.error{color: red;}
input[type="text"]{color: #333;padding-left: 5px;padding-right: 5px;}
select{width: 100%;}
.partner-table{width: 100%;}
.partner-table  td div {margin-bottom: 5px; font-size:12px;}
.partner-table .full-length {width: 100%!important;}
.partner-table .error{padding-left: 20px;}
.referal input[type="submit"],button{background: #f1b60f;padding: 5px;border: 0;margin-bottom: 20px;border-radius: 4px;color: #333;font-weight: bold;  font-size:13px; font-family:Arial, Helvetica, sans-serif}
.button-pipe{color: #847011;padding: 0 3px;}
.datepicker{background-image: url(../../images/calendar.png);background-repeat:no-repeat;border:0;background-position: right;}
button:disabled{
    background-color: #aaa;
    color: #ccc;
}
.gury-leaderBoard
{
    padding-bottom: 10px;
}

*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.tata-tabs .dropdown-menu, .tata-tabs .customDropdown {
    background: #fed007 none repeat scroll 0 0;
    min-width: 110px;
}
.dropdown ul.dropdown-menu::before, .customDropdown:before {
    border-bottom: 10px solid #fed007;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    left: 26px;
    top: -10px;
    z-index: 10;
}
.dropdown-menu > li
{
    position: relative;
}
.dropdown-menu ul.sub-menu
{
    position: absolute;
    right: -100%;
    width: 100%;
    top: 0px;
    background: #fed007;
    padding: 0px;
    display: none;
}

.dropdown-menu > li:hover ul
{
    display: block;
}

.dropdown-menu ul.sub-menu li
{
    font-size: 1em;
    font-weight: normal;
    list-style: none;
    padding: 7px 10px;
    cursor: pointer;
}

.dropdown-menu ul.sub-menu li:hover, .dropdown-menu ul.sub-menu li:hover a
{
    background: #444;
    color: #fff;
}

.logout-left{ top:113px;  position:absolute; margin:0; float:right; left:708px;}

.staticpanel{height:300px; overflow-y: scroll; margin:75px 0 0 0; overflow-X: hidden;}
.staticpanel p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; line-height:16px; padding:0px 0 15px 0}
.edit-upload{ float:left; margin:10px 10px 0 0}
.tatalogo{padding:15px 10px; 0 0;}
.contactus{padding:0 10px 0 0}
.usertext{ padding:0 0 20px 20px; font-size:12px;}
.accdetailtext{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; padding:0px 0 0 30px}
.accdetailtext span{ font-weight:bold;}
.copyright{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#989898; font-style:italic; float:left; padding:10px 10px 0 0}
.tata-genuine{ float:right; padding:10px 10px 0 0}
.profilepanel{float:right; margin:0 20px 0 0;}

.footer .footer-list{
    margin-top: 30px;
    display: inline-block;
}
.footer .footer-list a{
    display: inline-block;
    padding: 0px 5px 0px 0px;
    color: #444;
    line-height: 0.9em;
}
.footer .footer-list a:not(:last-child){
    border-right: 1px solid #aaa;
}

/* Css for Helpline page*/

.helplinebg {background:url(../../images/stars.png) no-repeat; width:476px; height:149px; margin:0 auto; position:absolute; top:-80px; left:220px; b}
.chractbox{ background:#ffdd00; width:396px; height:89px; border-radius:4px; background-image: linear-gradient(to bottom, #ffdd00, #fbb812); margin:65px 0 0 40px}
.charaimg{margin:-39px 0 0 -53px}
.helpnumber{ font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#000000; line-height:25px; text-align:center; padding:10px 0 0 0}

h1.invalidnumber{background: url(../../images/arrow.png);width: 100%;height: 21px;background-repeat: no-repeat;color:#e5af1b;font-size: 14px; font-weight:bold; margin:5px 0 0 15px; padding:2px 0 0 28px;}
.staticpanel .invalid p{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; line-height:16px; padding:0px 0 10px 43px}

.usertextlogin{ padding:0 0 20px 0; font-size:12px; position:absolute; top:-37px; font-weight:bold;}
.rewardslarge{ position:absolute; top:20px;}
.tatguruhdline{padding:0 0 45px 0}
.runcontent{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; line-height:17px; padding:0 0 20px 12px}

.space{ padding:0 0 12px 0}
.rewardssmall{ position:absolute; top:21px; left:70px;}
.mechlogin{ position:absolute; left:43px; top:23px;}
.logologin{ position:absolute; left:-122px; top:-30px;}

/* Css for login panel */
.loginbg{ background:url(../../images/login-form.png) no-repeat; width:296px; height:211px;}
.loginbox{ margin:0 0 0 215px;}
.loginhdr{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#523900; font-weight:bold; padding:14px 0 0 0;}
input.userpassbox{ background:#ffffff; border-radius:7px; background-image: linear-gradient(to top, #e7e7e7, #ffffff); width:77%; padding:6px 0 6px 31px; border:none; margin:38px 0 0 40px; }
.passbox{ background:#ffffff; border-radius:7px; background-image: linear-gradient(to top, #e7e7e7, #ffffff); width:77%; padding:6px 0 6px 33px; border:none; margin:15px 0 0 40px; color:#333333}
.usericon{position:absolute; top:76px; left:59px;}
.passicon{position:absolute; top:123px; left:59px;}
.rembox{ width:20px; background:#ffffff; border-radius:2px; padding:0 0 0 4px; height:20px; margin:14px 0 0 40px;  float:left; }
.remleft{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7b5300; float:left; padding:17px 0 0 8px}
.enterbtn{ margin:11px 0 0 20px;}

/*Target vs achievement*/
.content-box-st.green_sr .heading {background:#c5e29f;}
.content-box-st.orange_sr .heading {background:#fbc98e;}
.content-box-st.red_sr .heading {background:#f8ac92;}
.content-box-sm.blue_sr .heading {background:#94d5f1;}
.content-box-st.aqua1_sr .heading {background:#7fd4cd;}
.content-box-st.aqua2_sr .heading {background:#7fb39c;}
.content-box-st .heading { text-align:center; font-size:18px; font-weight:bold; padding:20px; }
.content-box-st {
    background:#f2f2f2; 
    color:#4d4d4d;
    padding-bottom: 10px;
}
.content-box-st .target { float:left; margin-top:5%; margin-left:10%; }
.content-box-st .remaining { float:right; margin-top:5%; margin-right:10%; text-align:right; }
.number{font-weight:bold;}
.content-box-st table
{
    width: 96%;
    margin: 0px auto;
}
.content-box-st table td
{
    padding-left: 10px;
    font-size: 0.9em;
}
#campaign-corousel
{
    transition: transform 1s;
}

#carousel-occasional-lg
{
    overflow: hidden;
}
.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
.circleValue { position: absolute; width: 100%; margin: -130px 0 0 -10px; }
.circleValue p { font-size: 3.5em; display: inline-block; font-style:italic; line-height:0.6em; }
.circleValue p span{ font-style:normal; font-size: 0.4em; font-weight:bold;}
body{min-width:420px;}
#carousel-occasional-lg .carousel-control.left, #carousel-occasional-lg .carousel-control.right {/*! display:block; */ background:none; margin-top: 0%;display: flex;/*! vertical-align: middle; */align-items: center;justify-content: center;}
#carousel-occasional-sm .carousel-control.left, #carousel-occasional-sm .carousel-control.right {display:block; background:none; margin-top: 18%;}
#carousel-occasional-xs .carousel-control.left, #carousel-occasional-xs .carousel-control.right {display:block; background:none; margin-top: 25%; width: 10%;}


.quarter
{
  width: 308px;
  float: left;
  padding: 0px 3px;
}
.halfBox
{
  width: 50%;
  float: left;
}

    .halfBox:nth-child(1)
{
    padding-right: 13px;
}

.halfBox:nth-last-child(1)
{
    padding-left: 13px;
}
    .singleBox table
    {
        width: 25%;
        margin: 0px 90px 0px 0px;
        float: right;
        transform:  translate(0px,-136px);
    }
    .singleBox .target
    {
        margin-left: 350px;
        transform: translate(-90px, 90px);
    }
    .singleBox .remaining
    {
        float: none;
        text-align: center;
        transform: translate(-340px, 130px);
        display: block;
    }
    
.singleBox .content-box-st
{
    min-height: 470px;
}