/******* Common CSS ******/

.page-break {
  min-height: 1560px;
  /* width: 1240px; */
}

@media print {
  .page {
    max-width: auto;
  }
  @page {
    size: 1200px 1560px;
    margin: 0;
    counter-increment: page;
    padding: 0px !important;
  }
  .page-break {
    margin: 0 !important;
    height: 1385px !important;
  }
  .container,
  .body-container {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow: initial;
  }
  .no_print {
    display: none !important;
  }
  body {
    -webkit-print-color-adjust: exact;
    padding: 0px !important;
    margin: 0px;
    background-color: #003281;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    box-sizing: border-box;
  }

  .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }

  .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
  }

  .text-center {
    text-align: center;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }
}

.container {
  overflow: initial;
  /* padding-left: 0px;
	padding-right: 0px; */
}

.inline-block {
  display: inline-block;
}

.page-break {
  page-break-before: always;
}

.bg-tata-blue {
  background-color: #1f419b;
}

.bg-tata-paleblue {
  background-color: rgb(25, 67, 180);
}

.bg-dark-grey {
  background-color: #444;
}

.btn-transparent {
  border: none;
  background-color: transparent;
}

.border-tata-blue {
  border: 1px solid #ffcb23;
}

.font-white {
  color: #fff;
}

.font-black {
  color: #000;
}

.font-color-444 {
  color: #444;
}

.bg-white {
  background-color: #fff;
}

.margin-0 {
  margin: 0px !important;
}

.margin-10 {
  margin: 10px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-h-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-solid-1 {
  border: 1px solid;
}

.border-white {
  border-color: #fff;
}

.font-13 {
  font-size: 13px;
}

.font-12 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}

.font-10 {
  font-size: 11px;
}

.font-bold {
  font-weight: bold;
}

.col-50 {
  width: 50% !important;
}

.cover-bg {
  background-size: cover;
  background-position: center center;
}

.pdf-catalogue-bg {
  background-image: url("../../images/polygon.png");
  padding: 20px 58px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.full-width {
  width: 100%;
}

.font-grey {
  color: #444;
}

.font-size-07 {
  font-size: 0.7em;
}

.create-pdf .terms-text {
  height: 394px;
  font-size: 0.7em;
  padding: 20px;
}

.create-pdf .tata-motors-white {
  max-width: 140px;
}

.create-pdf .genuine-parts {
  width: 105px;
}

.create-pdf .download-btn {
  background: linear-gradient(#ededed, #fff, #b4aeae);
  color: #1f419b;
  border: none;
  height: 35px;
  padding: 0px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
}

.create-pdf .item-thum-stage {
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-pdf .item-thum-stage .image-item {
  max-height: 170px;
  max-width: 95%;
}

.create-pdf .cat-item {
  transition: opacity 0.3s;
  padding: 10px;
}

.create-pdf .cat-item.unchecked {
  opacity: 0.4;
}

.right-text {
  text-align: right;
}

.block {
  display: block;
}

.center-text {
  text-align: center;
}

.self-clear:after {
  content: "";
  clear: both;
  float: none;
  display: block;
}

.center-block {
  display: block;
  margin: 0px auto;
}

.pop-up {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.84);
  z-index: 1000;
}

.pop-up > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.pop-up.active {
  display: table;
}

.pop-up.common-pop .body {
  background: #fff;
  width: 100%;
  max-width: 400px;
  padding: 12px 10px;
}

.prompt .body {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  background-color: #fff;
  padding: 15px 15px;
  position: relative;
}

.prompt .body .close {
  width: 50px;
  height: 50px;
  float: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

.floatBarsG {
  position: absolute;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 28px;
  height: 28px;
  animation-name: bounce_floatBarsG;
  -o-animation-name: bounce_floatBarsG;
  -ms-animation-name: bounce_floatBarsG;
  -webkit-animation-name: bounce_floatBarsG;
  -moz-animation-name: bounce_floatBarsG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
}

#floatBarsG {
  position: relative;
  text-align: center;
  width: 270px;
  margin: 0px auto;
}

#floatBarsG_1 {
  left: 0;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

#floatBarsG_2 {
  left: 29px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#floatBarsG_3 {
  left: 58px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

#floatBarsG_4 {
  left: 88px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#floatBarsG_5 {
  left: 117px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

#floatBarsG_6 {
  left: 146px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

#floatBarsG_7 {
  left: 175px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#floatBarsG_8 {
  left: 205px;
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}

@keyframes bounce_floatBarsG {
  0% {
    transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-o-keyframes bounce_floatBarsG {
  0% {
    -o-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -o-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_floatBarsG {
  0% {
    -ms-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -ms-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_floatBarsG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_floatBarsG {
  0% {
    -moz-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -moz-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

/*****************  Sales Dash CSS  *********************/

.container-bg-sl {
  border: none;
  padding-top: 3px;
}

.content-box-sl {
  margin-top: 20px;
  width: 96%;
  margin-left: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  overflow: visible;
}

.content-box-sl .heading {
  width: 100%;
  background: #fed79e;
  font-size: 20px;
  padding: 10px 20px;
  color: #4d4d4d;
  font-weight: bold;
}

.content-box-sl.gray {
  background: #f2f2f2;
}

.content-box-sl.tb table {
  text-align: center;
  border-color: #ffffff;
  color: #ffffff;
  margin-bottom: 20px;
}

.content-box-sl.tb table th {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-color: #ffffff;
}

.content-box-sl.tb table td {
  padding: 5px;
  border-color: #ffffff;
}

.content-box-sl.tb table td a {
  color: #ffffff;
  border-color: #ffffff;
}

.tier15 th {
  background: #555555;
}

.tier16 th {
  background: #000000;
}

.tier17 th {
  background: #333333;
}

.yellow_td td {
  background: #ffbe18;
  color: #333333;
}

.yellow_td td a {
  color: #333333 !important;
}

.blue_td {
  padding: 10px;
}

.content-box-sl.tb .col-md-4,
.content-box-sl.tb .col-sm-12,
.content-box-sl.tb .col-xs-12 {
  padding-right: 20px;
  padding-left: 5px;
}

.content-box-sl.tb .row {
  margin-right: -20px;
  margin-left: -5px;
}

.onoffdiv {
  width: 140px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

.onoffheading {
  display: block;
  text-align: center;
  width: 120px;
  margin-bottom: 3px;
  color: #ffffff;
  font-size: 9px;
}

.onofflabel {
  float: left;
  font-size: 9px;
  padding: 5px 3px;
  color: #ffffff;
}

.onoffswitch {
  position: relative;
  width: 34px;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ababab;
  border-radius: 20px;
  background: #4d4d4d;
}

.onoffswitch-inner {
  display: block;
  width: 100%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 18px;
  padding: 0;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #4d4d4d;
  color: #fff;
}

.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #4d4d4d;
  color: #fff;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 0px;
  background: #fff;
  position: absolute;
  bottom: 5px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
  border: solid 1px #4d4d4d;
  height: 20px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.btn.year {
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  padding: 3px 15px;
  font-size: 18px;
  color: #4b4f50;
  font-weight: bold;
  border: 1px solid #919ca2;
  border-radius: 7px;
  background: #faffff;
  background: -moz-linear-gradient(
    top,
    #faffff 0%,
    #e5e9ec 50%,
    #d7dce0 51%,
    #fbffff 100%
  );
  background: -webkit-linear-gradient(
    top,
    #faffff 0%,
    #e5e9ec 50%,
    #d7dce0 51%,
    #fbffff 100%
  );
  background: linear-gradient(
    to bottom,
    #faffff 0%,
    #e5e9ec 50%,
    #d7dce0 51%,
    #fbffff 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#faffff",
      endColorstr="#fbffff",
      GradientType=0
    );
  /* IE6-9 */
}

.btn.year:hover {
  color: #045499;
}

#sales-graph-1,
#reg-graph-1,
#pro-graph-1,
#reg-graph-2,
#pro-graph-2,
#reg-graph-3,
#pro-graph-3 {
  overflow: hidden;
  left: 0;
}

#reg-graph-1,
#pro-graph-1,
#reg-graph-3,
#pro-graph-3 {
  opacity: 0.2;
}

g.highcharts-legend {
  display: block;
}

.regional_heading,
.product_heading {
  font-size: 16px;
  color: #0060b2;
  margin-left: 40px;
  margin-top: 20px;
}

/*.regional_heading{ position:relative; z-index:99; top:80px; left:50px; font-size:16px; color:#0060b2;}
	.product_heading{ position:relative; z-index:99; top:400px; left:50px; font-size:16px; color:#0060b2;}*/

/*****************  Sales Total CSS  *********************/

.content-box-sd .heading img {
  float: left;
}

.content-box-sd.blue-hd .heading {
  background: #66a0ce;
}

.content-box-sd.orange-hd .heading {
  background: #f6b68a;
}

.content-box-sd.blue-hd .heading .total_no {
  color: #003281;
}

.content-box-sd.orange-hd .heading .total_no {
  color: #a96224;
}

.content-box-sd .heading .total_hd {
  display: block;
  margin-top: 7px;
}

.total_no {
  font-size: 36px;
}

.content-box-sd {
  margin-top: 20px;
  width: 96%;
  margin-left: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  overflow: visible;
}

.content-box-sd .heading {
  width: 100%;
  background: #fed79e;
  font-size: 14px;
  padding: 10px 40px;
  color: #000000;
}

.content-box-sd.orange-hd.tb table {
  text-align: left;
  border-color: #ffffff;
  color: #ffffff;
  margin-top: 0px;
}

.content-box-sd.orange-hd.tb table th {
  padding: 10px;
  font-weight: bold;
  border-color: #ffffff;
  background: #333333;
}

.content-box-sd.orange-hd.tb table th.yellow_th {
  background: #ffbe18;
  color: #000000;
}

.content-box-sd.orange-hd.tb table td {
  padding: 10px;
  border-color: #ffffff;
}

.content-box-sd.orange-hd.tb table th a {
  color: #666666;
  border-color: #ffffff;
}

.content-box-sd.orange-hd.tb table th.blue-th {
  color: #ffffff;
}

.content-box-sd.orange-hd.tb table th.orange-th {
  color: #ee8639;
}

.content-box-sd.orange-hd.tb table td.blue-th {
  color: #ffffff;
  text-align: right;
}

.content-box-sd.orange-hd.tb table td.orange-th {
  color: #ee8639;
  text-align: right;
}

.content-box-sd.green-hd .heading .green_head {
  width: 200px;
  height: 50px;
}

.content-box-sd.green-hd .heading {
  height: 85px;
}

.content-box-sd.green-hd .heading img {
  float: left;
}

.content-box-sd.green-hd .heading .total_no {
  color: #009244;
}

.content-box-sd.green-hd .heading {
  background: #bbde8e;
  font-size: 14px;
  padding: 10px 40px;
  color: #000000;
}

.mem_btn {
  padding-top: 15px;
}

#mem_red {
  width: 150px;
  margin-right: 10px;
  border: solid 2px #ffffff;
  border-radius: 7px;
}

#mem_log {
  width: 150px;
  margin-right: 10px;
  border: solid 2px #ffffff;
  border-radius: 7px;
}

#mem_red.active {
  background: #999999;
  cursor: default;
  pointer-events: none;
}

#mem_log.active {
  background: #999999;
  cursor: default;
  pointer-events: none;
}

#mem_red.inactive {
  background: #39b54a;
}

#mem_log.inactive {
  background: #0060ae;
}

.bordr {
  border: solid 1px rgba(215, 215, 215, 1);
}

/*****************  Redemption CSS  *********************/

.content-box-sl.green .heading {
  background: #ffffff;
  color: #333;
}

.content-box-sl.green {
  background: #ffffff;
}

.overview {
  padding: 10px;
}

.overview .col-lg-4,
.overview .col-sm-4,
.overview .col-md-6,
.overview .col-sm-12,
.overview .col-xs-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.overview {
  margin-top: 20px;
  padding: 20px;
  align-content: center;
  text-align: center;
}

.overview .row {
  margin-right: -5px;
  margin-left: -5px;
  color: #333;
}

.arrow {
  margin: 70px auto 0 auto;
}

.arrow img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-box-sl.green.tb table {
  text-align: center;
  border-color: #cbcbcb;
  color: #666666;
  margin-bottom: 0px;
}

.content-box-sl.green.tb table th {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-color: #cbcbcb;
}

.content-box-sl.green.tb table td {
  padding: 10px;
  border-color: #cbcbcb;
  background: #ffffff;
}

.content-box-sl.green.tb table th a {
  color: #666666;
  border-color: #cbcbcb;
}

.green_rw {
  color: #009245;
  margin-top: 20px;
  display: block;
}

.green_r {
  color: #009245;
}

/*****************  leaderbound CSS  *********************/

.row1 {
  -moz-column-width: 30em;
  column-width: 30em;
  -webkit-column-width: 30em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  margin: 20px;
  margin-bottom: 10px;
}

.item {
  display: inline-block;
  padding: 0.25rem;
  width: 100%;
  margin-bottom: 10px;
}

.well1 {
  position: relative;
  display: block;
  padding: 0;
}

.content-box-sl.blue-hd .heading {
  background: #7fb9de;
}

.content-box-sl.blue-hd table {
  text-align: left;
  border-color: #cbcbcb;
  color: #666666;
  margin-bottom: 0px;
}

.content-box-sl.blue-hd table th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-color: #cbcbcb;
  background: #e8e8e8;
}

.content-box-sl.blue-hd table td {
  padding: 10px;
  border-color: #cbcbcb;
  background: #ffffff;
  border: 1px solid #cbcbcb;
}

.table_head {
  text-align: left;
}

.table_head h4 {
  color: #0077c3;
  font-weight: bold;
}

.content-box-sl.blue-hd .drop_down {
  border: solid 1px #0077c3;
  color: #333333;
  padding: 5px;
  border-radius: 5px;
  background: #f8fbfd;
  background: -moz-linear-gradient(top, #f8fbfd 0%, #cacaca 100%);
  background: -webkit-linear-gradient(top, #f8fbfd 0%, #cacaca 100%);
  background: linear-gradient(to bottom, #f8fbfd 0%, #cacaca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f8fbfd",
      endColorstr="#cacaca",
      GradientType=0
    );
}

.content-box-sl.blue-hd table th.green-th {
  color: #20995b;
}

.content-box-sl.blue-hd table td.green-th {
  color: #20995b;
}

.download {
  float: right;
  font-size: 11px;
  white-space: nowrap;
  display: table;
  margin-top: 5px;
}

a.download,
a.download:hover {
  color: #ffffff;
}

.download:after {
  padding: 0 0 0 5px;
  content: url(/images/download_icon.jpg);
}

.row1 select {
  width: auto;
}

select > .placeholder {
  display: none;
}

.table_head select {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.fadeout {
  opacity: 0.5;
}

.content-box-sl .scroll-table {
  table-layout: fixed;
  width: 100%;
}

.content-box-sl .scroll-table thead,
.content-box-sl .scroll-table tbody {
  display: block;
  max-height: 450px;
  overflow: auto;
  width: 100%;
}

.content-box-sl .scroll-table thead td {
  font-weight: bold;
}

.content-box-sl .scroll-table tbody tr td,
.content-box-sl .scroll-table thead td {
  padding: 5px 10px;
}

.content-box-sl .scroll-table td.digit-sm {
  width: 89px;
  text-align: center;
}

.content-box-sl .scroll-table td.digit-md {
  width: 110px;
}

.content-box-sl .scroll-table td.string-md {
  width: 160px;
}

.content-box-sl .scroll-table td.string-sm {
  width: 120px;
}

.guruday-dashboard ul.tab,
.guruday-dashboard ul.filter {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0px;
}

.guruday-dashboard ul.tab li {
  display: inline-block;
  background: #2c99d4;
  font-size: 1.1em;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.guruday-dashboard ul.filter li {
  display: inline-block;
  width: 120px;
  height: 66px;
  background-size: 200%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0px 17px;
}

.guruday-dashboard ul.filter li:nth-last-child(1) {
  margin-right: 90px;
}

.guruday-dashboard ul.filter li:hover,
.guruday-dashboard ul.filter li.active {
  background-position: 100% 0%;
}

.guruday-dashboard ul.filter li.north {
  background-image: url(../../images/north.jpg);
}

.guruday-dashboard ul.filter li.west {
  background-image: url(../../images/west.jpg);
}

.guruday-dashboard ul.filter li.south {
  background-image: url(../../images/south.jpg);
}

.guruday-dashboard ul.filter li.east {
  background-image: url(../../images/east.jpg);
}

.guruday-dashboard ul.filter li .rect,
.guruday-dashboard ul.filter li .arrowdown {
  fill: #2c99d4;
}

.float-left {
  float: left;
}

.left-text {
  text-align: left;
}

.guruday-dashboard {
  padding-bottom: 15px;
}

.guruday-dashboard ul.tab li.active,
.guruday-dashboard ul.tab li:hover {
  background: #f8b133;
}

.half-width {
  width: 50%;
}

.guruday-dashboard table.guru-table {
  width: 95%;
  margin: 0px auto;
}

.guruday-dashboard table.guru-table th,
.guruday-dashboard table.guru-table td {
  text-align: center;
  height: 50px;
  border: 1px solid #fff;
}

.guruday-dashboard table.guru-table th {
  border-width: 2px;
}

.guruday-dashboard table.guru-table .guru-profile-field ul {
  padding: 6px;
  width: 90%;
  margin: 5px auto;
}

.guruday-dashboard table.guru-table .guru-profile-field ul li {
  display: inline-block;
  margin-right: 5px;
}

.guruday-dashboard table.guru-table .guru-profile-field ul li img {
  width: 100%;
  display: block;
}

/**************************************/

/******************DISPLAY CONTEST*******************/

.disp_contest .album_info {
  padding: 10px 20px 10px 10px;
  margin-bottom: 22px;
}

.disp_contest .album_cta {
  padding-right: 20px;
}

.disp_contest .album_cta button,
.referal button {
  min-width: 100px;
}

.disp_contest .album_info .desc,
.disp_contest .album_info .title {
  border: 1px solid #fff;
  padding: 10px 15px;
}

.disp_contest .album_info .title {
  border-bottom: none;
  font-weight: bold;
}

.disp_contest .album_upload,
.disp_contest .album_view {
  text-align: center;
  padding-right: 10px;
  margin-bottom: 100px;
}

.disp_contest .album_upload .album,
.disp_contest .album_view .album {
  width: 300px;
  display: inline-block;
}

.disp_contest .album_upload .album .image,
.disp_contest .album_view .album .image {
  border: 2px solid #ffc818;
  background: #444;
  background-size: cover;
}

.disp_contest .album_upload .album .image table,
.disp_contest .album_view .album .image {
  height: 200px;
  width: 100%;
}

.disp_contest .album_upload .album .image table td {
  vertical-align: middle;
  width: 100%;
}

.disp_contest .album_upload .album .image img {
  max-width: 296px;
  max-height: 200px;
}

.disp_contest .album .image_theme {
  margin: 20px 0px;
  font-weight: bold;
}

.disp_contest .album_upload .album button {
  min-width: 100px;
  text-transform: uppercase;
}

.disp_contest .album_upload button.btn_big {
  min-width: 193px;
  height: 40px;
  margin: 40px auto 0px auto;
  display: block;
}

.disp_contest .album_view .album {
  cursor: pointer;
}

.disp_contest .full_scr_gallery * {
  box-sizing: border-box;
}

.disp_contest .full_scr_gallery .body {
  width: 650px;
  background: #444;
  margin: 0px auto;
  position: relative;
  height: 400px;
  border: 2px solid #fff;
  overflow: hidden;
}

.disp_contest .full_scr_gallery .body table {
  width: 100%;
  height: 400px;
}

.disp_contest .full_scr_gallery .body table td {
  text-align: center;
  vertical-align: middle;
}

.disp_contest .full_scr_gallery .body table img {
  max-width: 650px;
  max-height: 400px;
}

.disp_contest .full_scr_gallery .body button {
  position: absolute;
  top: 45%;
  width: 30px;
}

.disp_contest .full_scr_gallery .body button.close {
  top: 0px;
  right: 0px;
  color: #fff;
  opacity: 1;
  width: 35px;
  height: 33px;
  margin: 0px;
  text-shadow: 0px 2px 1px #666;
}

.disp_contest .full_scr_gallery .body button.left {
  left: 5px;
}

.disp_contest .full_scr_gallery .body button.right {
  right: 5px;
}

.disp_contest .pop-up.submit .body {
  background: #fff;
  color: #444;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  padding: 10px;
  border: 3px solid #f1b60f;
}

.disp_contest .pop-up.submit .body h4 {
  line-height: 1.4em;
}

.disp_contest .pop-up.submit .body button {
  width: 60px;
  margin-top: 20px;
}

.disp_contest .terms img {
  width: 100%;
}

.disp_contest .terms > ul {
  margin-top: 20px;
}

.disp_contest .terms > ul li {
  line-height: 1.9em;
}

.disp_contest .terms button {
  width: 100px;
  margin: 20px 0px 50px 10px;
}

.referal .tab table {
  width: 90%;
  margin: 28px auto;
}

.referal .tab table td:first-child {
  width: 31%;
  padding: 5px 0px;
}

.referal .tab table td {
  padding: 3px 0px;
  vertical-align: top;
}

.referal .tab input,
.referal .tab select,
.referal .tab textarea {
  color: #444;
  height: 36px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

.referal input:disabled,
.referal select:disabled,
.referal textarea:disabled {
  background-color: #ccc;
  color: #666;
}

.referal button.inactive {
  background: #aaa;
  color: #000;
}

.referal .tab textarea {
  min-height: 120px;
  padding: 10px;
}

.dsr_daily,
.registration {
  padding: 0px 10px;
}

.registration label,
.dsr_daily label {
  width: 20%;
  vertical-align: middle;
}

.dsr_daily .input,
.dsr_daily input,
.dsr_daily select,
.dsr_daily textarea,
.registration .input,
.registration select,
.registration textarea,
.registration input {
  width: 78%;
  height: 30px;
  margin: 4px 0px;
  display: inline-block;
  position: relative;
  background: #fff;
  color: #444;
  border: none;
  padding-left: 10px;
}

.registration .input,
.dsr_daily .input {
  padding-left: 0px;
}

.registration .input::after,
.dsr_daily .input::after {
  width: 17px;
  position: absolute;
  right: 9px;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  top: 0px;
  content: "";
}

.dsr_daily .input.date::after,
.registration .input.date::after {
  background-image: url("../../images/calendar_icon.png");
  z-index: 0;
}

.dsr_daily textarea,
.registration textarea {
  min-height: 100px;
  padding-top: 10px;
}

.dsr_daily .input input,
.registration .input input {
  width: 100%;
  margin: 0px;
  position: relative;
  z-index: 1;
  background: transparent;
}

.dsr_daily input:disabled,
.registration input:disabled {
  background: #e3e3e3;
  color: #999;
}

.dsr_daily .input input[type="checkbox"],
.registration .input input[type="checkbox"] {
  width: auto;
  background: transparent;
  height: 20px;
}

.dsr_daily .input.mobile button,
.registration .input.mobile button {
  background: #f1b60f;
  padding: 0px 10px;
  width: auto;
  border-radius: 0px;
}

.dsr_daily .input button,
.registration .input button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3;
  height: 100%;
  width: 41px;
  margin: 0px;
  padding: 0px;
  background: transparent;
  color: #444;
}

.registration .album_cta button {
  min-width: 80px;
  margin-right: 15px;
}

.registration .input.photo,
.registration .input.checkbox {
  background: transparent;
  height: auto;
}

.registration .input.checkbox li {
  list-style: none;
  color: #fff;
  padding: 5px 0px;
  display: inline-block;
  min-width: 170px;
}

.registration .input.checkbox li label {
  min-height: auto;
  vertical-align: top;
}

.registration .input.photo table td,
.registration .input.photo .button {
  width: 300px;
  height: 300px;
}

.registration .input.photo table td {
  background: #fff;
  text-align: center;
}

.registration .input.photo input {
  background: #fff;
}

.registration .input.photo .button {
  height: auto;
  margin-top: 4px;
}

.registration .input.photo table img {
  max-width: 300px;
  /*! max-block-size: 400px; */
  max-height: 300px;
}

.registration .input button img {
  width: 60%;
}

.registration .common-pop .body {
  background: #fff;
  max-width: 500px;
  margin: 0px auto;
  padding: 30px 12px 5px 12px;
  position: relative;
}

.registration .common-pop .body > .close {
  position: absolute;
  top: 6px;
  right: 9px;
  color: #000;
  opacity: 0.6;
}

.registration .common-pop .body .form-group.error {
  box-shadow: 0px 0px 5px 1px #f00;
}

div.display_contest,
div.tml_mapping {
  padding: 0px;
  width: 101.6%;
}

.display_contest .table thead td {
  position: relative;
}

.display_contest .nav {
  /*!  */
  margin: 0px auto;
  display: block;
  width: 276px;
}

.display_contest table thead td .sort {
  transform: rotate(-90deg);
  font-size: 1.2em;
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: none;
  color: #444;
}

.display_contest table thead td .sort.active,
.display_contest table thead td:hover .sort {
  display: block;
}

.display_contest table thead td .sort.active.reverse {
  transform: rotate(90deg);
}

.display_contest .paging button {
  background: transparent;
  min-width: 113px;
}

.display_contest .album_list ul {
  padding: 0px;
  margin: 0px;
}

.display_contest .album_list ul table {
  height: 100%;
  width: 100%;
}

.display_contest .album_list {
  border: 1px solid #eaeaea;
}

.display_contest .album_list > ul > li {
  width: 25%;
  height: 211px;
  vertical-align: top;
  border: 1px solid #eaeaea;
  margin: 0px;
  float: left;
  padding: 10px 0px;
  position: relative;
  cursor: pointer;
}

.display_contest .album_list li .gallery {
  height: 100%;
  position: relative;
  padding: 0px;
  width: 102%;
}

.display_contest .album_list > ul > li:first-child {
  width: 19%;
}

.display_contest .album_list > ul > li:last-child {
  width: 81%;
  padding: 0px;
  overflow: hidden;
}

.display_contest .alert {
  margin: 1px 0px;
}

.display_contest .album_list li .gallery li {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  float: left;
  cursor: pointer;
  transition: width 1s;
  border: 2px solid #fff;
  list-style: none;
}

.display_contest .album_list li td {
  border: none;
  vertical-align: middle;
  text-align: center;
}

.display_contest .album_list li h4 {
  color: #0069c6;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 31px;
}

.display_contest .album_list li p {
  font-size: 0.8em;
}

.display_contest .album_list li .checkbox {
  height: 20px;
  width: 20px;
  border: 1px solid #aaa;
  cursor: pointer;
  margin: 20px auto;
  transition: background 0.3s;
}

.display_contest .album_list li .checkbox.active {
  background-color: #0069c6;
  border: none;
}

.display_contest .album_list li .checkbox.active:after {
  content: "\2713";
  color: #fff;
  font-size: 0.8em;
}

.display_contest .album_list li .checkbox.inactive {
  background-color: #fff;
}

.display_contest .album_list li:not(:last-child) {
  border-right: none;
}

.display_contest .album_cta .CTA {
  margin-left: 10px;
}

.display_contest .winner_gallery {
  /*! min-height: 629px; */
  background-image: url("../images/1.jpg");
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 10px 0px;
}

.display_contest .slide_gallery {
  position: relative;
  width: 89%;
  height: 457px;
  margin: 0px auto;
}

.display_contest .slide_gallery table,
.display_contest .thumb_gallery table {
  height: 100%;
  width: 100%;
}

.display_contest .slide_gallery table td {
  text-align: center;
}

.display_contest .slide_gallery .images {
  width: 90%;
  margin: 0px auto;
  height: 100%;
}

.display_contest .slide_gallery td,
.display_contest .thumb_gallery td {
  border: none;
  vertical-align: middle;
}

.display_contest .slide_gallery .images img,
.display_contest .thumb_gallery img {
  max-width: 100%;
  max-height: 450px;
}

.display_contest .slide_gallery button.left,
.display_contest .slide_gallery button.right {
  position: absolute;
  top: 0%;
  width: 5%;
  height: 100%;
  font-size: 4em;
  color: #999999;
  background: transparent;
  border: none;
}

.display_contest .slide_gallery button.left {
  left: 0px;
}

.display_contest .slide_gallery button.right {
  right: 0px;
}

.display_contest .thumb_gallery li {
  width: 31.3%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.5s;
  margin: 0.5%;
}

.display_contest .thumb_gallery li.active {
  transform: scale(0.95);
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 6px 2px #444;
}

.display_contest .thumb_gallery {
  width: 79%;
  margin: 13px auto 0px auto;
  padding: 0px;
}

.display_contest .fs_gallery button.left {
  left: 0px;
}

.display_contest .fs_gallery button.right {
  right: 0px;
}

.registration .common-pop .body .form-group {
  padding: 2px 10px 2px 0px;
}

.tml_mapping .blue_head {
  margin: 0px 0px 20px 0px;
  background: #fec617;
  padding: 21px 4px;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

.tml_mapping .blue_head select {
  width: 21%;
  margin: 1% 1%;
  height: 35px;
  border-radius: 0px;
  border: none;
  padding-left: 5px;
}

.tml_mapping .search {
  text-align: right;
  border: 1px solid #dbdbdb;
  max-width: 250px;
  padding: 0px 3px;
  margin-right: 2px;
}

.tml_mapping span.glyphicon {
  color: #aaa;
}

.tml_mapping .search input {
  border: none;
  width: 90%;
  height: 35px;
}

.tml_mapping .table-responsive {
  opacity: 1;
  transition: opacity 0.5;
  margin-top: 10px;
  height: 500px;
  overflow-y: auto;
}

.tml_mapping .table-responsive.inactive {
  opacity: 0;
}

.tml_mapping .table {
  font-size: 0.9em;
}

.tml_mapping .table tbody tr {
  cursor: pointer;
}

.tml_mapping .table tbody tr td {
  vertical-align: middle;
}

.tml_mapping .table tbody tr.active td {
  background-color: #aaa;
}

.tml_mapping table th .sort {
  transform: rotate(-90deg);
  font-size: 1.2em;
  position: absolute;
  bottom: -5px;
  right: 20px;
  display: none;
}

.tml_mapping table th .sort.active,
.tml_mapping table th:hover .sort {
  display: block;
}

.tml_mapping table th .sort.active.reverse {
  transform: rotate(90deg);
}

.tml_mapping .itemSearch {
  width: 100%;
  height: 31px;
  border: none;
}

input.nofocus:focus {
  outline: none;
}

.dsr_daily .input.toggle {
  position: relative;
  width: 100px;
  background: transparent;
}

.dsr_daily .input.toggle .parent.false {
  background-color: #81accf;
}

.dsr_daily .input.toggle .handle {
  width: 25px;
  border-radius: 50%;
  height: 26px;
  background-color: #81accf;
  transition: transform 0.2s, background 0.3s;
}

.dsr_daily .input.toggle .parent.false .handle {
  background-color: #0059a0;
}

.dsr_daily .input.toggle p {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  text-align: center;
  z-index: 1;
  transition: opacity 0.3s;
  font-size: 0.9em;
  font-weight: bold;
  margin: 3px 0px 0px 0px;
}

.dsr_daily .input.toggle .parent.true p.false-text {
  opacity: 0;
}

.dsr_daily .input.toggle .parent.true .handle {
  transform: translate(48px, 0px);
  position: relative;
  z-index: 2;
}

.dsr_daily .input.toggle .parent.false p.true-text {
  opacity: 0;
}

.dsr_daily .input.toggle .true-text {
  text-align: left;
  padding-left: 10px;
  color: #fff;
}

.dsr_daily .input.toggle .false-text {
  text-align: right;
  padding-right: 20px;
  color: #0059a0;
}

.dsr_daily .input.toggle .parent {
  width: 80px;
  height: 30px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  padding: 3px;
  transition: background 0.3s;
}

.dsr_daily .input.toggle .parent.true {
  background-color: #0059a0;
}

.overflow-hidden,
.dsr_daily .four_four {
  overflow-y: hidden;
}

.input.multiselect.disabled:after,
.input.toggle.disabled:after {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.input.multiselect {
  height: auto;
  position: relative;
}

.multiselect .head {
  padding: 5px 51px 5px 5px;
  position: relative;
  min-height: 62px;
}

.multiselect .head .item {
  width: 178px;
  background-color: #ccdeec;
  color: #283845;
  border-radius: 20px;
  overflow: hidden;
  padding: 2px;
  height: 30px;
  position: relative;
  margin: 5px 4px;
}

.multiselect .head .item p {
  margin: 1px 0px 0px 10px;
  line-height: 1.8em;
  font-size: 0.9em;
}

.multiselect .head .dropdown-arrow {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 52px;
  top: 0px;
  background-color: #d5d5d5;
  cursor: pointer;
  z-index: 2;
}

.multiselect .head .dropdown-arrow:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 13px solid #575757;
  content: "";
  display: block;
  margin: 20px auto 0px auto;
}

.multiselect .head .item .close {
  width: 25px;
  height: 25px;
  right: 2px;
  top: 2px;
  background: #4283b6;
  border-radius: 50%;
  opacity: 1;
  color: #fff;
}

.multiselect .option_list ul {
  padding: 0px;
  text-align: center;
}

.multiselect .option_list ul.hasTopMargin {
  margin-top: 20px;
}

.multiselect .option_list ul li {
  padding: 7px 30px;
  background: #fff;
  margin: 1px 0px 0px 0px;
  cursor: pointer;
  width: 308px;
  display: inline-block;
  margin: 2px 5px;
  vertical-align: top;
  font-size: 0.9em;
}

.multiselect .option_list ul li.inactive {
  border: 1px solid #aaa;
}

.multiselect .option_list ul h3.group-title {
  background: #cecece;
  padding: 10px 0px;
  font-size: 1.6em;
}

.multiselect .option_list ul li:hover {
  background: #eee;
}

.multiselect .option_list ul li.active {
  background: #bfd4e7;
  cursor: default;
}

.multiselect .submit {
  padding: 15px 10px;
}

.multiselect .submit button.CTA {
  margin-top: 10px;
  position: static;
}

.multiselect .submit button.CTA:disabled {
  background: #ccc;
}

.right-text {
  text-align: right;
}

.block {
  display: block;
}

.center-text {
  text-align: center;
}

.self-clear:after {
  content: "";
  clear: both;
  float: none;
  display: block;
}

.center-block {
  display: block;
  margin: 0px auto;
}

.pop-up {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.84);
  z-index: 1000;
}

.pop-up > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.pop-up.active {
  display: table;
}

.floatBarsG {
  position: absolute;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 28px;
  height: 28px;
  animation-name: bounce_floatBarsG;
  -o-animation-name: bounce_floatBarsG;
  -ms-animation-name: bounce_floatBarsG;
  -webkit-animation-name: bounce_floatBarsG;
  -moz-animation-name: bounce_floatBarsG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
}

#floatBarsG {
  position: relative;
  text-align: center;
  width: 270px;
  margin: 0px auto;
}

#floatBarsG_1 {
  left: 0;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

#floatBarsG_2 {
  left: 29px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#floatBarsG_3 {
  left: 58px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

#floatBarsG_4 {
  left: 88px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#floatBarsG_5 {
  left: 117px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

#floatBarsG_6 {
  left: 146px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

#floatBarsG_7 {
  left: 175px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#floatBarsG_8 {
  left: 205px;
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}

@keyframes bounce_floatBarsG {
  0% {
    transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-o-keyframes bounce_floatBarsG {
  0% {
    -o-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -o-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_floatBarsG {
  0% {
    -ms-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -ms-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_floatBarsG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_floatBarsG {
  0% {
    -moz-transform: scale(1);
    background-color: rgb(0, 33, 87);
  }
  100% {
    -moz-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

/*****************  Sales Dash CSS  *********************/

.container-bg-sl {
  border: none;
  padding-top: 3px;
}

.content-box-sl {
  margin-top: 20px;
  width: 96%;
  margin-left: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  overflow: visible;
}

.content-box-sl .heading {
  width: 100%;
  background: #fed79e;
  font-size: 20px;
  padding: 10px 20px;
  color: #4d4d4d;
  font-weight: bold;
}

.content-box-sl.gray {
  background: #f2f2f2;
}

.content-box-sl.tb table {
  text-align: center;
  border-color: #ffffff;
  color: #ffffff;
  margin-bottom: 20px;
}

.content-box-sl.tb table th {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-color: #ffffff;
}

.content-box-sl.tb table td {
  padding: 5px;
  border-color: #ffffff;
}

.content-box-sl.tb table td a {
  color: #ffffff;
  border-color: #ffffff;
}

.tier15 th {
  background: #555555;
}

.tier16 th {
  background: #000000;
}

.tier17 th {
  background: #333333;
}

.yellow_td td {
  background: #ffbe18;
  color: #333333;
}

.yellow_td td a {
  color: #333333 !important;
}

.blue_td {
  padding: 10px;
}

.content-box-sl.tb .col-md-4,
.content-box-sl.tb .col-sm-12,
.content-box-sl.tb .col-xs-12 {
  padding-right: 20px;
  padding-left: 5px;
}

.content-box-sl.tb .row {
  margin-right: -20px;
  margin-left: -5px;
}

.onoffdiv {
  width: 140px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

.onoffheading {
  display: block;
  text-align: center;
  width: 120px;
  margin-bottom: 3px;
  color: #ffffff;
  font-size: 9px;
}

.onofflabel {
  float: left;
  font-size: 9px;
  padding: 5px 3px;
  color: #ffffff;
}

.onoffswitch {
  position: relative;
  width: 34px;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ababab;
  border-radius: 20px;
  background: #4d4d4d;
}

.onoffswitch-inner {
  display: block;
  width: 100%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 18px;
  padding: 0;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #4d4d4d;
  color: #fff;
}

.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #4d4d4d;
  color: #fff;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 0px;
  background: #fff;
  position: absolute;
  bottom: 5px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
  border: solid 1px #4d4d4d;
  height: 20px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.btn.year {
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  padding: 3px 15px;
  font-size: 18px;
  color: #4b4f50;
  font-weight: bold;
  border: 1px solid #919ca2;
  border-radius: 7px;
  background: #faffff;
  background: -moz-linear-gradient(
    top,
    #faffff 0%,
    #e5e9ec 50%,
    #d7dce0 51%,
    #fbffff 100%
  );
  background: -webkit-linear-gradient(
    top,
    #faffff 0%,
    #e5e9ec 50%,
    #d7dce0 51%,
    #fbffff 100%
  );
  background: linear-gradient(
    to bottom,
    #faffff 0%,
    #e5e9ec 50%,
    #d7dce0 51%,
    #fbffff 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#faffff",
      endColorstr="#fbffff",
      GradientType=0
    );
  /* IE6-9 */
}

.btn.year:hover {
  color: #045499;
}

#sales-graph-1,
#reg-graph-1,
#pro-graph-1,
#reg-graph-2,
#pro-graph-2,
#reg-graph-3,
#pro-graph-3 {
  overflow: hidden;
  left: 0;
}

#reg-graph-1,
#pro-graph-1,
#reg-graph-3,
#pro-graph-3 {
  opacity: 0.2;
}

g.highcharts-legend {
  display: block;
}

.regional_heading,
.product_heading {
  font-size: 16px;
  color: #0060b2;
  margin-left: 40px;
  margin-top: 20px;
}

/*.regional_heading{ position:relative; z-index:99; top:80px; left:50px; font-size:16px; color:#0060b2;}
	.product_heading{ position:relative; z-index:99; top:400px; left:50px; font-size:16px; color:#0060b2;}*/

/*****************  Sales Total CSS  *********************/

.content-box-sd .heading img {
  float: left;
}

.content-box-sd.blue-hd .heading {
  background: #66a0ce;
}

.content-box-sd.orange-hd .heading {
  background: #f6b68a;
}

.content-box-sd.blue-hd .heading .total_no {
  color: #003281;
}

.content-box-sd.orange-hd .heading .total_no {
  color: #a96224;
}

.content-box-sd .heading .total_hd {
  display: block;
  margin-top: 7px;
}

.total_no {
  font-size: 36px;
}

.content-box-sd {
  margin-top: 20px;
  width: 96%;
  margin-left: 20px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  overflow: visible;
}

.content-box-sd .heading {
  width: 100%;
  background: #fed79e;
  font-size: 14px;
  padding: 10px 40px;
  color: #000000;
}

.content-box-sd.orange-hd.tb table {
  text-align: left;
  border-color: #ffffff;
  color: #ffffff;
  margin-top: 0px;
}

.content-box-sd.orange-hd.tb table th {
  padding: 10px;
  font-weight: bold;
  border-color: #ffffff;
  background: #333333;
}

.content-box-sd.orange-hd.tb table th.yellow_th {
  background: #ffbe18;
  color: #000000;
}

.content-box-sd.orange-hd.tb table td {
  padding: 10px;
  border-color: #ffffff;
}

.content-box-sd.orange-hd.tb table th a {
  color: #666666;
  border-color: #ffffff;
}

.content-box-sd.orange-hd.tb table th.blue-th {
  color: #ffffff;
}

.content-box-sd.orange-hd.tb table th.orange-th {
  color: #ee8639;
}

.content-box-sd.orange-hd.tb table td.blue-th {
  color: #ffffff;
  text-align: right;
}

.content-box-sd.orange-hd.tb table td.orange-th {
  color: #ee8639;
  text-align: right;
}

.content-box-sd.green-hd .heading .green_head {
  width: 200px;
  height: 50px;
}

.content-box-sd.green-hd .heading {
  height: 85px;
}

.content-box-sd.green-hd .heading img {
  float: left;
}

.content-box-sd.green-hd .heading .total_no {
  color: #009244;
}

.content-box-sd.green-hd .heading {
  background: #bbde8e;
  font-size: 14px;
  padding: 10px 40px;
  color: #000000;
}

.mem_btn {
  padding-top: 15px;
}

#mem_red {
  width: 150px;
  margin-right: 10px;
  border: solid 2px #ffffff;
  border-radius: 7px;
}

#mem_log {
  width: 150px;
  margin-right: 10px;
  border: solid 2px #ffffff;
  border-radius: 7px;
}

#mem_red.active {
  background: #999999;
  cursor: default;
  pointer-events: none;
}

#mem_log.active {
  background: #999999;
  cursor: default;
  pointer-events: none;
}

#mem_red.inactive {
  background: #39b54a;
}

#mem_log.inactive {
  background: #0060ae;
}

.bordr {
  border: solid 1px rgba(215, 215, 215, 1);
}

/*****************  Redemption CSS  *********************/

.content-box-sl.green .heading {
  background: #ffffff;
  color: #333;
}

.content-box-sl.green {
  background: #ffffff;
}

.overview {
  padding: 10px;
}

.overview .col-lg-4,
.overview .col-sm-4,
.overview .col-md-6,
.overview .col-sm-12,
.overview .col-xs-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.overview {
  margin-top: 20px;
  padding: 20px;
  align-content: center;
  text-align: center;
}

.overview .row {
  margin-right: -5px;
  margin-left: -5px;
  color: #333;
}

.arrow {
  margin: 70px auto 0 auto;
}

.arrow img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-box-sl.green.tb table {
  text-align: center;
  border-color: #cbcbcb;
  color: #666666;
  margin-bottom: 0px;
}

.content-box-sl.green.tb table th {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-color: #cbcbcb;
}

.content-box-sl.green.tb table td {
  padding: 10px;
  border-color: #cbcbcb;
  background: #ffffff;
}

.content-box-sl.green.tb table th a {
  color: #666666;
  border-color: #cbcbcb;
}

.green_rw {
  color: #009245;
  margin-top: 20px;
  display: block;
}

.green_r {
  color: #009245;
}

/*****************  leaderbound CSS  *********************/

.row1 {
  -moz-column-width: 30em;
  column-width: 30em;
  -webkit-column-width: 30em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  margin: 20px;
  margin-bottom: 10px;
}

.item {
  display: inline-block;
  padding: 0.25rem;
  width: 100%;
  margin-bottom: 10px;
}

.well1 {
  position: relative;
  display: block;
  padding: 0;
}

.content-box-sl.blue-hd .heading {
  background: #7fb9de;
}

.content-box-sl.blue-hd table {
  text-align: left;
  border-color: #cbcbcb;
  color: #666666;
  margin-bottom: 0px;
}

.content-box-sl.blue-hd table th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-color: #cbcbcb;
  background: #e8e8e8;
}

.content-box-sl.blue-hd table td {
  padding: 10px;
  border-color: #cbcbcb;
  background: #ffffff;
  border: 1px solid #cbcbcb;
}

.table_head {
  text-align: left;
}

.table_head h4 {
  color: #0077c3;
  font-weight: bold;
}

.content-box-sl.blue-hd .drop_down {
  border: solid 1px #0077c3;
  color: #333333;
  padding: 5px;
  border-radius: 5px;
  background: #f8fbfd;
  background: -moz-linear-gradient(top, #f8fbfd 0%, #cacaca 100%);
  background: -webkit-linear-gradient(top, #f8fbfd 0%, #cacaca 100%);
  background: linear-gradient(to bottom, #f8fbfd 0%, #cacaca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f8fbfd",
      endColorstr="#cacaca",
      GradientType=0
    );
}

.content-box-sl.blue-hd table th.green-th {
  color: #20995b;
}

.content-box-sl.blue-hd table td.green-th {
  color: #20995b;
}

.download {
  float: right;
  font-size: 11px;
  white-space: nowrap;
  display: table;
  margin-top: 5px;
}

a.download,
a.download:hover {
  color: #ffffff;
}

.download:after {
  padding: 0 0 0 5px;
  content: url(/images/download_icon.jpg);
}

.row1 select {
  width: auto;
}

select > .placeholder {
  display: none;
}

.table_head select {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.fadeout {
  opacity: 0.5;
}

.content-box-sl .scroll-table {
  table-layout: fixed;
  width: 100%;
}

.content-box-sl .scroll-table thead,
.content-box-sl .scroll-table tbody {
  display: block;
  max-height: 450px;
  overflow: auto;
  width: 100%;
}

.content-box-sl .scroll-table thead td {
  font-weight: bold;
}

.content-box-sl .scroll-table tbody tr td,
.content-box-sl .scroll-table thead td {
  padding: 5px 10px;
}

.content-box-sl .scroll-table td.digit-sm {
  width: 89px;
  text-align: center;
}

.content-box-sl .scroll-table td.digit-md {
  width: 110px;
}

.content-box-sl .scroll-table td.string-md {
  width: 160px;
}

.content-box-sl .scroll-table td.string-sm {
  width: 120px;
}

.guruday-dashboard ul.tab,
.guruday-dashboard ul.filter {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0px;
}

.guruday-dashboard ul.tab li {
  display: inline-block;
  background: #2c99d4;
  font-size: 1.1em;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.guruday-dashboard ul.filter li {
  display: inline-block;
  width: 120px;
  height: 66px;
  background-size: 200%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0px 17px;
}

.guruday-dashboard ul.filter li:nth-last-child(1) {
  margin-right: 90px;
}

.guruday-dashboard ul.filter li:hover,
.guruday-dashboard ul.filter li.active {
  background-position: 100% 0%;
}

.guruday-dashboard ul.filter li.north {
  background-image: url(../../images/north.jpg);
}

.guruday-dashboard ul.filter li.west {
  background-image: url(../../images/west.jpg);
}

.guruday-dashboard ul.filter li.south {
  background-image: url(../../images/south.jpg);
}

.guruday-dashboard ul.filter li.east {
  background-image: url(../../images/east.jpg);
}

.guruday-dashboard ul.filter li .rect,
.guruday-dashboard ul.filter li .arrowdown {
  fill: #2c99d4;
}

.float-left {
  float: left;
}

.left-text {
  text-align: left;
}

.guruday-dashboard {
  padding-bottom: 15px;
}

.guruday-dashboard ul.tab li.active,
.guruday-dashboard ul.tab li:hover {
  background: #f8b133;
}

.half-width {
  width: 50%;
}

.guruday-dashboard table.guru-table {
  width: 95%;
  margin: 0px auto;
}

.guruday-dashboard table.guru-table th,
.guruday-dashboard table.guru-table td {
  text-align: center;
  height: 50px;
  border: 1px solid #fff;
}

.guruday-dashboard table.guru-table th {
  border-width: 2px;
}

.guruday-dashboard table.guru-table .guru-profile-field ul {
  padding: 6px;
  width: 90%;
  margin: 5px auto;
}

.guruday-dashboard table.guru-table .guru-profile-field ul li {
  display: inline-block;
  margin-right: 5px;
}

.guruday-dashboard table.guru-table .guru-profile-field ul li img {
  width: 100%;
  display: block;
}

/**************************************/

/******************DISPLAY CONTEST*******************/

.disp_contest .album_info {
  padding: 10px 20px 10px 10px;
  margin-bottom: 22px;
}

.disp_contest .album_cta {
  padding-right: 20px;
}

.disp_contest .album_cta button,
.referal button {
  min-width: 100px;
}

.disp_contest .album_info .desc,
.disp_contest .album_info .title {
  border: 1px solid #fff;
  padding: 10px 15px;
}

.disp_contest .album_info .title {
  border-bottom: none;
  font-weight: bold;
}

.disp_contest .album_upload,
.disp_contest .album_view {
  text-align: center;
  padding-right: 10px;
  margin-bottom: 100px;
}

.disp_contest .album_upload .album,
.disp_contest .album_view .album {
  width: 300px;
  display: inline-block;
}

.disp_contest .album_upload .album .image,
.disp_contest .album_view .album .image {
  border: 2px solid #ffc818;
  background: #444;
  background-size: cover;
}

.disp_contest .album_upload .album .image table,
.disp_contest .album_view .album .image {
  height: 200px;
  width: 100%;
}

.disp_contest .album_upload .album .image table td {
  vertical-align: middle;
  width: 100%;
}

.disp_contest .album_upload .album .image img {
  max-width: 296px;
  max-height: 200px;
}

.disp_contest .album .image_theme {
  margin: 20px 0px;
  font-weight: bold;
}

.disp_contest .album_upload .album button {
  min-width: 100px;
  text-transform: uppercase;
}

.disp_contest .album_upload button.btn_big {
  min-width: 193px;
  height: 40px;
  margin: 40px auto 0px auto;
  display: block;
}

.disp_contest .album_view .album {
  cursor: pointer;
}

.disp_contest .full_scr_gallery * {
  box-sizing: border-box;
}

.disp_contest .full_scr_gallery .body {
  width: 650px;
  background: #444;
  margin: 0px auto;
  position: relative;
  height: 400px;
  border: 2px solid #fff;
  overflow: hidden;
}

.disp_contest .full_scr_gallery .body table {
  width: 100%;
  height: 400px;
}

.disp_contest .full_scr_gallery .body table td {
  text-align: center;
  vertical-align: middle;
}

.disp_contest .full_scr_gallery .body table img {
  max-width: 650px;
  max-height: 400px;
}

.disp_contest .full_scr_gallery .body button {
  position: absolute;
  top: 45%;
  width: 30px;
}

.disp_contest .full_scr_gallery .body button.close {
  top: 0px;
  right: 0px;
  color: #fff;
  opacity: 1;
  width: 35px;
  height: 33px;
  margin: 0px;
  text-shadow: 0px 2px 1px #666;
}

.disp_contest .full_scr_gallery .body button.left {
  left: 5px;
}

.disp_contest .full_scr_gallery .body button.right {
  right: 5px;
}

.disp_contest .pop-up.submit .body {
  background: #fff;
  color: #444;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  padding: 10px;
  border: 3px solid #f1b60f;
}

.disp_contest .pop-up.submit .body h4 {
  line-height: 1.4em;
}

.disp_contest .pop-up.submit .body button {
  width: 60px;
  margin-top: 20px;
}

.disp_contest .terms img {
  width: 100%;
}

.disp_contest .terms > ul {
  margin-top: 20px;
}

.disp_contest .terms > ul li {
  line-height: 1.9em;
}

.disp_contest .terms button {
  width: 100px;
  margin: 20px 0px 50px 10px;
}

.referal .tab table {
  width: 90%;
  margin: 28px auto;
}

.referal .tab table td:first-child {
  width: 31%;
  padding: 5px 0px;
}

.referal .tab table td {
  padding: 3px 0px;
  vertical-align: top;
}

.referal .tab input,
.referal .tab select,
.referal .tab textarea {
  color: #444;
  height: 36px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

.referal input:disabled,
.referal select:disabled,
.referal textarea:disabled {
  background-color: #ccc;
  color: #666;
}

.referal button.inactive {
  background: #aaa;
  color: #000;
}

.referal .tab textarea {
  min-height: 120px;
  padding: 10px;
}

.dsr_daily,
.registration {
  padding: 0px 10px;
}

.registration label,
.dsr_daily label {
  width: 20%;
  vertical-align: top;
  margin: 3px 0px;
}

.dsr_daily #productDetails label {
  color: #444;
  font-weight: normal;
}

.dsr_daily .input,
.dsr_daily input,
.dsr_daily select,
.dsr_daily textarea,
.registration .input,
.registration select,
.registration textarea,
.registration input {
  width: 78%;
  height: 30px;
  margin: 7px 0px;
  display: inline-block;
  position: relative;
  background: #fff;
  color: #444;
  border: none;
  padding-left: 10px;
}

.registration .input,
.dsr_daily .input {
  padding-left: 0px;
}

.registration .input::after,
.dsr_daily .input::after {
  width: 17px;
  position: absolute;
  right: 9px;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  top: 0px;
  content: "";
}

.dsr_daily .input.date::after,
.registration .input.date::after {
  background-image: url("../../images/calendar_icon.png");
  z-index: 0;
}

.dsr_daily textarea,
.registration textarea {
  min-height: 100px;
  padding-top: 10px;
}

.dsr_daily .input input,
.registration .input input {
  width: 100%;
  margin: 0px;
  position: relative;
  z-index: 1;
  background: transparent;
}

.dsr_daily input:disabled,
.registration input:disabled {
  background: #e3e3e3;
  color: #999;
}

.dsr_daily .input input[type="checkbox"],
.registration .input input[type="checkbox"] {
  width: auto;
  background: transparent;
  height: 20px;
}

.dsr_daily .input.mobile button,
.registration .input.mobile button {
  background: #f1b60f;
  padding: 0px 10px;
  width: auto;
  border-radius: 0px;
}

.dsr_daily .input button,
.registration .input button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3;
  height: 100%;
  width: 41px;
  margin: 0px;
  padding: 0px;
  background: #0266b1;
  color: #fff;
}

.dsr_daily .album_cta button,
.registration .album_cta button {
  min-width: 80px;
  margin-right: 15px;
}

.registration .input.photo,
.registration .input.checkbox {
  background: transparent;
  height: auto;
}

.registration .input.checkbox li {
  list-style: none;
  color: #fff;
  padding: 5px 0px;
  display: inline-block;
  min-width: 170px;
}

.registration .input.checkbox li label {
  min-height: auto;
  vertical-align: top;
}

.registration .input.photo table td,
.registration .input.photo .button {
  width: 300px;
  height: 300px;
}

.registration .input.photo table td {
  background: #fff;
  text-align: center;
}

.registration .input.photo input {
  background: #fff;
}

.registration .input.photo .button {
  height: auto;
  margin-top: 4px;
}

.registration .input.photo table img {
  max-width: 300px;
  /*! max-block-size: 400px; */
  max-height: 300px;
}

.registration .input button img {
  width: 60%;
}

.registration .common-pop .body {
  background: #fff;
  max-width: 500px;
  margin: 0px auto;
  padding: 30px 12px 5px 12px;
  position: relative;
}

.registration .common-pop .body > .close {
  position: absolute;
  top: 6px;
  right: 9px;
  color: #000;
  opacity: 0.6;
}

.registration .common-pop .body .form-group.error {
  box-shadow: 0px 0px 5px 1px #f00;
}

div.display_contest,
div.tml_mapping {
  padding: 0px;
  width: 101.6%;
}

.display_contest .table thead td {
  position: relative;
}

.display_contest .nav {
  /*!  */
  margin: 0px auto;
  display: block;
  width: 276px;
}

.display_contest table thead td .sort {
  transform: rotate(-90deg);
  font-size: 1.2em;
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: none;
  color: #444;
}

.display_contest table thead td .sort.active,
.display_contest table thead td:hover .sort {
  display: block;
}

.display_contest table thead td .sort.active.reverse {
  transform: rotate(90deg);
}

.display_contest .paging button {
  background: transparent;
  min-width: 113px;
}

.display_contest .album_list ul {
  padding: 0px;
  margin: 0px;
}

.display_contest .album_list ul table {
  height: 100%;
  width: 100%;
}

.display_contest .album_list {
  border: 1px solid #eaeaea;
}

.display_contest .album_list > ul > li {
  width: 25%;
  height: 211px;
  vertical-align: top;
  border: 1px solid #eaeaea;
  margin: 0px;
  float: left;
  padding: 10px 0px;
  position: relative;
  cursor: pointer;
}

.display_contest .album_list li .gallery {
  height: 100%;
  position: relative;
  padding: 0px;
  width: 102%;
}

.display_contest .album_list > ul > li:first-child {
  width: 19%;
}

.display_contest .album_list > ul > li:last-child {
  width: 81%;
  padding: 0px;
  overflow: hidden;
}

.display_contest .alert {
  margin: 1px 0px;
}

.display_contest .album_list li .gallery li {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  float: left;
  cursor: pointer;
  transition: width 1s;
  border: 2px solid #fff;
  list-style: none;
}

.display_contest .album_list li td {
  border: none;
  vertical-align: middle;
  text-align: center;
}

.display_contest .album_list li h4 {
  color: #0069c6;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 31px;
}

.display_contest .album_list li p {
  font-size: 0.8em;
}

.display_contest .album_list li .checkbox {
  height: 20px;
  width: 20px;
  border: 1px solid #aaa;
  cursor: pointer;
  margin: 20px auto;
  transition: background 0.3s;
}

.display_contest .album_list li .checkbox.active {
  background-color: #0069c6;
  border: none;
}

.display_contest .album_list li .checkbox.active:after {
  content: "\2713";
  color: #fff;
  font-size: 0.8em;
}

.display_contest .album_list li .checkbox.inactive {
  background-color: #fff;
}

.display_contest .album_list li:not(:last-child) {
  border-right: none;
}

.display_contest .album_cta .CTA {
  margin-left: 10px;
}

.display_contest .winner_gallery {
  /*! min-height: 629px; */
  background-image: url("../images/1.jpg");
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 10px 0px;
}

.display_contest .slide_gallery {
  position: relative;
  width: 89%;
  height: 457px;
  margin: 0px auto;
}

.display_contest .slide_gallery table,
.display_contest .thumb_gallery table {
  height: 100%;
  width: 100%;
}

.display_contest .slide_gallery table td {
  text-align: center;
}

.display_contest .slide_gallery .images {
  width: 90%;
  margin: 0px auto;
  height: 100%;
}

.display_contest .slide_gallery td,
.display_contest .thumb_gallery td {
  border: none;
  vertical-align: middle;
}

.display_contest .slide_gallery .images img,
.display_contest .thumb_gallery img {
  max-width: 100%;
  max-height: 450px;
}

.display_contest .slide_gallery button.left,
.display_contest .slide_gallery button.right {
  position: absolute;
  top: 0%;
  width: 5%;
  height: 100%;
  font-size: 4em;
  color: #999999;
  background: transparent;
  border: none;
}

.display_contest .slide_gallery button.left {
  left: 0px;
}

.display_contest .slide_gallery button.right {
  right: 0px;
}

.display_contest .thumb_gallery li {
  width: 31.3%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.5s;
  margin: 0.5%;
}

.display_contest .thumb_gallery li.active {
  transform: scale(0.95);
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 6px 2px #444;
}

.display_contest .thumb_gallery {
  width: 79%;
  margin: 13px auto 0px auto;
  padding: 0px;
}

.display_contest .fs_gallery button.left {
  left: 0px;
}

.display_contest .fs_gallery button.right {
  right: 0px;
}

.registration .common-pop .body .form-group {
  padding: 2px 10px 2px 0px;
}

.tml_mapping .blue_head {
  margin: 0px 0px 20px 0px;
  background: #fec617;
  padding: 21px 4px;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

.tml_mapping .blue_head select {
  width: 21%;
  margin: 1% 1%;
  height: 35px;
  border-radius: 0px;
  border: none;
  padding-left: 5px;
}

.tml_mapping .search {
  text-align: right;
  border: 1px solid #dbdbdb;
  max-width: 250px;
  padding: 0px 3px;
  margin-right: 2px;
}

.tml_mapping span.glyphicon {
  color: #aaa;
}

.tml_mapping .search input {
  border: none;
  width: 90%;
  height: 35px;
}

.tml_mapping .table-responsive {
  opacity: 1;
  transition: opacity 0.5;
  margin-top: 10px;
  height: 500px;
  overflow-y: auto;
}

.tml_mapping .table-responsive.inactive {
  opacity: 0;
}

.tml_mapping .table {
  font-size: 0.9em;
}

.tml_mapping .table tbody tr {
  cursor: pointer;
}

.tml_mapping .table tbody tr td {
  vertical-align: middle;
}

.tml_mapping .table tbody tr.active td {
  background-color: #aaa;
}

.tml_mapping table th .sort {
  transform: rotate(-90deg);
  font-size: 1.2em;
  position: absolute;
  bottom: -5px;
  right: 20px;
  display: none;
}

.tml_mapping table th .sort.active,
.tml_mapping table th:hover .sort {
  display: block;
}

.tml_mapping table th .sort.active.reverse {
  transform: rotate(90deg);
}

.dsr_daily .input.toggle {
  position: relative;
  width: 100px;
  background: transparent;
  display: inline-block;
}

.dsr_daily .input.toggle .parent.false {
  background-color: #fff;
}

.dsr_daily .input.toggle .handle {
  width: 25px;
  border-radius: 50%;
  height: 26px;
  background-color: #fff;
  transition: transform 0.2s, background 0.3s;
}

.dsr_daily .input.toggle .parent.false .handle {
  background-color: #febf14;
}

.dsr_daily .input.toggle p {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 3px 5px;
  text-align: center;
  z-index: 1;
  transition: opacity 0.3s;
  font-size: 0.9em;
  font-weight: bold;
  margin: 3px 0px 0px 0px;
}

.dsr_daily .input.toggle .parent.true p.false-text {
  opacity: 0;
}

.dsr_daily .input.toggle .parent.true .handle {
  transform: translate(48px, 0px);
  position: relative;
  z-index: 2;
}

.dsr_daily .input.toggle .parent.false p.true-text {
  opacity: 0;
}

.dsr_daily .input.toggle .true-text {
  text-align: left;
  padding-left: 10px;
  color: #fff;
}

.dsr_daily .input.toggle .false-text {
  text-align: right;
  padding-right: 20px;
  color: #0059a0;
}

.dsr_daily .input.toggle .parent {
  width: 80px;
  height: 30px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  padding: 3px;
  transition: background 0.3s;
}

.dsr_daily .input.toggle .parent.true {
  background-color: #febf14;
}

.overflow-hidden,
.dsr_daily .four_four {
  overflow-y: hidden;
}

.dsr_daily fieldset .input.multiselect.disabled:after,
.dsr_daily .input.toggle.disabled:after {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.dsr_daily fieldset .input.multiselect {
  height: auto;
  position: relative;
}

.dsr_daily .multiselect .head {
  padding: 5px 51px 5px 5px;
  position: relative;
  min-height: 32px;
  background-color: #efefef;
}

.dsr_daily .multiselect.disabled .head {
  background-color: #aaa;
}

.dsr_daily .multiselect .head .item {
  width: auto;
  background-color: #3f3f3f;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 2px;
  height: 30px;
  position: relative;
  margin: 1px 4px;
}

.dsr_daily .multiselect .head .item p {
  margin: 1px 30px 0px 10px;
  line-height: 1.8em;
  font-size: 0.9em;
}

.dsr_daily .multiselect .head .dropdown-arrow {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 40px;
  top: 0px;
  background-color: #d5d5d5;
  cursor: pointer;
  z-index: 2;
}

.dsr_daily .multiselect .head .dropdown-arrow:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #575757;
  content: "";
  display: block;
  margin: 13px auto 0px auto;
}

.dsr_daily .multiselect .head .item .close {
  width: 25px;
  height: 25px;
  right: 2px;
  top: 2px;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  color: #262626;
}

.dsr_daily .multiselect .option_list ul {
  padding: 0px;
  text-align: center;
}

.dsr_daily .multiselect .option_list ul.hasTopMargin {
  margin-top: 20px;
}

.dsr_daily .multiselect .option_list ul li {
  padding: 7px 30px;
  background: #fff;
  margin: 1px 0px 0px 0px;
  cursor: pointer;
  width: 308px;
  display: inline-block;
  margin: 2px 5px;
  vertical-align: top;
  font-size: 0.9em;
}

.dsr_daily .multiselect .option_list ul li.inactive {
  border: 1px solid #aaa;
}

.dsr_daily .multiselect .option_list ul h3.group-title {
  background: #cecece;
  padding: 10px 0px;
  font-size: 1.6em;
}

.dsr_daily .multiselect .option_list ul li:hover {
  background: #eee;
}

.dsr_daily .multiselect .option_list ul li.active {
  background: #febf14;
  cursor: default;
  color: #000;
}

.dsr_daily .multiselect .submit {
  padding: 15px 10px;
}

.dsr_daily .multiselect .submit button.CTA {
  margin-top: 10px;
  position: static;
  width: 100px;
  height: 34px;
  margin: 2px 0px 5px 0px;
}

.dsr_daily .multiselect .submit button.CTA:disabled {
  background: #ccc;
}

.dsr_daily fieldset .input.multiselect .option_list {
  overflow-y: hidden;
  /*! margin-top: -1px; */
}

.dsr_daily label.align-top {
  vertical-align: top;
  margin-top: 10px;
}

.dsr_daily fieldset .input.multiselect .option_list .searchBox {
  position: relative;
  box-shadow: 0px 0px 4px 1px #aaa;
}

.dsr_daily fieldset .input.multiselect .option_list .searchBox input {
  height: 50px;
  width: 100%;
  color: #444;
  padding-left: 20px;
}

.dsr_daily fieldset .input.multiselect .option_list .searchBox input:focus {
  outline: none;
}

.dsr_daily fieldset .input.multiselect .option_list .searchBox .glyphicon {
  position: absolute;
  top: 15px;
  color: #aaa;
  right: 15px;
}

.dsr_daily legend {
  color: #fff;
}

.dsr_daily input[readonly] {
  background-color: #ddd;
}

.dsr_daily input:disabled,
.dsr_daily select:disabled {
  background: #aaa;
}

.dsr_daily .input.toggle.disabled .parent.false .handle,
.dsr_daily .input.toggle.disabled .parent .handle,
.dsr_daily .input.toggle.disabled .parent.true,
.dsr_daily .input.toggle.disabled .parent.false {
  background-color: #aaa;
  opacity: 0.5;
  color: #fff;
}

.dsr_daily .input.toggle.disabled .parent.false p.false-text {
  color: #fff;
}

.dsr_daily .prompt .body {
  background: #fff;
  color: #444;
  max-width: 500px;
  margin: 0px auto;
  padding: 10px;
}

.excelForm .scroll-view {
  margin: 0px 0px 11px 0px;
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.excelForm table {
  max-width: initial;
  display: block;
  position: relative;
  padding-top: 75px;
  width: 4000px;
}

.excelForm td,
.excelForm thead,
.excelForm tbody,
.excelForm th {
  display: block;
  /* width: 100%; */
  /* width: 4000px; */
}

.excelForm thead {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 4000px; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.excelForm thead:first-child > tr:first-child > th {
  border-top: 1px solid;
}

.excelForm table tr {
  display: flex;
  width: 3984px;
}

.excelForm tbody {
  height: calc(100vh - 444px);
  overflow-y: auto;
  overflow-x: hidden;
}

.dsr_daily .modal-dialog {
  width: 95%;
}

.dsr_daily .excelForm table.table-custombordered td,
.dsr_daily .excelForm table.table-custombordered th {
  border: 1px solid #fff;
}

.dsr_daily .excelForm table th,
.dsr_daily .excelForm table td {
  width: 300px;
}

.dsr_daily .excelForm table th.align-middle {
  vertical-align: middle !important;
}

.dsr_daily .excelForm table td {
  padding: 0px;
}

.dsr_daily .excelForm table td input,
.dsr_daily .excelForm table td select {
  width: 100%;
  background: transparent;
  color: #fff;
  margin: 0px;
  height: 40px;
}

.dsr_daily .excelForm table td select option {
  background: #0166ab;
}

.dsr_daily select:disabled,
.dsr_daily input:disabled {
  opacity: 0.4;
}

.dsr_daily td.align-middle {
  vertical-align: middle;
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  .regional_heading,
  .product_heading {
    font-size: 14px;
    height: 30px;
  }
  .line_div {
    width: 65%;
  }
  .product_heading .line_div {
    width: 57%;
  }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  .regional_heading,
  .product_heading {
    font-size: 14px;
    height: 25px;
  }
  .line_div {
    width: 80%;
  }
  .product_heading .line_div {
    width: 70%;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 800px) {
  .CustomContainer {
    width: 800px;
  }
  .custom-nav-bar .navbar-nav > li > a {
    padding: 10px 8px;
  }
  .gallery-box li {
    width: 24.5%;
  }
  .CustomContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-tile .form-box {
    padding: 10% 5%;
  }
  .tabbox {
    width: 100%;
  }
  .banner-home {
    width: 100%;
  }
  .partner-reg-form-box {
    width: 100%;
  }
  .slider.slider-horizontal {
    width: 100% !important;
  }
  .product-filter label {
    width: 100% !important;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .CustomContainer {
    width: 768px;
  }
}

@media only screen and (max-width: 640px) {
  .CustomContainer {
    width: 640px;
  }
  .navbar-default .navbar-toggle {
    border-color: #fff;
  }
  .custom-nav-bar.navbar-default .navbar-toggle:focus,
  .custom-nav-bar.navbar-default .navbar-toggle:hover {
    background-color: #0059a0;
  }
  .custom-nav-bar.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .custom-nav-bar.navbar-default .navbar-brand {
    color: #fff;
    display: inline-block;
  }
  .left-box,
  .right-box {
    width: 100%;
  }
  .dream-box {
    margin: 0 4px;
  }
  .left-box p {
    font-size: 12px;
    line-height: 18px;
  }
  .login-tile input[type="submit"] {
    float: inherit;
    margin: 10px 5px 0 4px;
  }
  .quote {
    width: 70%;
  }
  .product-listing li {
    width: 48%;
  }
  .category-box {
    margin-bottom: 15px;
  }
  .line_div {
    width: 65%;
  }
  .product_heading .line_div {
    width: 57%;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .CustomContainer {
    width: 480px;
  }
  .banner-box {
    width: 100%;
  }
  .reward-tile-box {
    width: 100%;
    margin-top: 5px;
  }
  .left-box,
  .right-box {
    width: 100%;
  }
  .gallery-box li {
    display: block;
    width: 100%;
  }
  .social-link,
  .inline-link,
  .poweredby {
    text-align: center !important;
    width: 100%;
    margin-top: 10px;
  }
  .gallery-box ul {
    margin: 0 4px;
    width: auto;
  }
  .quote {
    width: 90%;
  }
  ul.faqtxt {
    padding: 10px;
  }
  .product-listing li {
    width: 47%;
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
  .CustomContainer {
    width: 360px;
  }
  .myaccount-table {
    overflow: scroll;
    padding: 10px;
    width: 320px;
    overflow-y: hidden;
  }
  .quote p {
    font-size: 16px;
  }
  .quote .call {
    font-size: 18px;
  }
  .product-listing li {
    width: 100%;
  }
  .custom-pagination .pagination > li > a,
  .custom-pagination .pagination > li > span {
    padding: 6px 10px !important;
  }
  a.cart-btn,
  a.wishlist-btn {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .CustomContainer {
    width: 320px;
  }
  .nav-tabs.custom-nav-tabs {
    padding: 0;
  }
  .myaccount-table {
    width: 280px;
  }
  .custom-pagination .pagination > li > a,
  .custom-pagination .pagination > li > span {
    padding: 6px 8px !important;
  }
  .line_div {
    width: 40%;
  }
  .product_heading .line_div {
    width: 30%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .regional_heading,
  .product_heading {
    font-size: 14px;
    height: 30px;
  }
  .line_div {
    width: 65%;
  }
  .product_heading .line_div {
    width: 57%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .regional_heading,
  .product_heading {
    font-size: 14px;
    height: 25px;
  }
  .line_div {
    width: 80%;
  }
  .product_heading .line_div {
    width: 70%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 800px) {
  .CustomContainer {
    width: 800px;
  }
  .custom-nav-bar .navbar-nav > li > a {
    padding: 10px 8px;
  }
  .gallery-box li {
    width: 24.5%;
  }
  .CustomContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-tile .form-box {
    padding: 10% 5%;
  }
  .tabbox {
    width: 100%;
  }
  .banner-home {
    width: 100%;
  }
  .partner-reg-form-box {
    width: 100%;
  }
  .slider.slider-horizontal {
    width: 100% !important;
  }
  .product-filter label {
    width: 100% !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .CustomContainer {
    width: 768px;
  }
}
@media only screen and (max-width: 640px) {
  .CustomContainer {
    width: 640px;
  }
  .navbar-default .navbar-toggle {
    border-color: #fff;
  }
  .custom-nav-bar.navbar-default .navbar-toggle:focus,
  .custom-nav-bar.navbar-default .navbar-toggle:hover {
    background-color: #0059a0;
  }
  .custom-nav-bar.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .custom-nav-bar.navbar-default .navbar-brand {
    color: #fff;
    display: inline-block;
  }
  .left-box,
  .right-box {
    width: 100%;
  }
  .dream-box {
    margin: 0 4px;
  }
  .left-box p {
    font-size: 12px;
    line-height: 18px;
  }
  .login-tile input[type="submit"] {
    float: inherit;
    margin: 10px 5px 0 4px;
  }
  .quote {
    width: 70%;
  }
  .product-listing li {
    width: 48%;
  }
  .category-box {
    margin-bottom: 15px;
  }
  .line_div {
    width: 65%;
  }
  .product_heading .line_div {
    width: 57%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .CustomContainer {
    width: 480px;
  }
  .banner-box {
    width: 100%;
  }
  .reward-tile-box {
    width: 100%;
    margin-top: 5px;
  }
  .left-box,
  .right-box {
    width: 100%;
  }
  .gallery-box li {
    display: block;
    width: 100%;
  }
  .social-link,
  .inline-link,
  .poweredby {
    text-align: center !important;
    width: 100%;
    margin-top: 10px;
  }
  .gallery-box ul {
    margin: 0 4px;
    width: auto;
  }
  .quote {
    width: 90%;
  }
  ul.faqtxt {
    padding: 10px;
  }
  .product-listing li {
    width: 47%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  .CustomContainer {
    width: 360px;
  }
  .myaccount-table {
    overflow: scroll;
    padding: 10px;
    width: 320px;
    overflow-y: hidden;
  }
  .quote p {
    font-size: 16px;
  }
  .quote .call {
    font-size: 18px;
  }
  .product-listing li {
    width: 100%;
  }
  .custom-pagination .pagination > li > a,
  .custom-pagination .pagination > li > span {
    padding: 6px 10px !important;
  }
  a.cart-btn,
  a.wishlist-btn {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .CustomContainer {
    width: 320px;
  }
  .nav-tabs.custom-nav-tabs {
    padding: 0;
  }
  .myaccount-table {
    width: 280px;
  }
  .custom-pagination .pagination > li > a,
  .custom-pagination .pagination > li > span {
    padding: 6px 8px !important;
  }
  .line_div {
    width: 40%;
  }
  .product_heading .line_div {
    width: 30%;
  }
}
