<!DOCTYPE html>
<html>
<head>
	<title>Winners</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
			
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
	<!-- Header End --> 
	<!-- Body Content Start -->

<div class="container display_contest" ng-app="app" ng-controller="winner">
	
	<h2 class="text-center">CONGRATULATIONS WINNERS!</h2>

	<div class="btn-group btn-group-justified">
		<a href="#" class="btn btn-primary" ng-class="(data.region =='north')?'active':''" ng-click="data.changeRegion('north')">NORTH</a>
		<a href="#" class="btn btn-primary" ng-class="(data.region =='west')?'active':''" ng-click="data.changeRegion('west')">WEST</a>
		<a href="#" class="btn btn-primary" ng-class="(data.region =='south')?'active':''" ng-click="data.changeRegion('south')">SOUTH</a>
		<a href="#" class="btn btn-primary" ng-class="(data.region =='east')?'active':''" ng-click="data.changeRegion('east')">EAST</a>
	</div>

	<script>
	
		//North Data is displayed by default
		var imgPath = "http://172.16.174.75/workspace/PROJECTS/dummy/";
		var dynamicData = {
			region : "north",
			champions : [
				{
					champ_Id : "ABC",
					champ_name : "Arun Kumar",
					shop_name : "ABC Enterprise",
					dist_name : "Distributor 5",
					area : "Gurgaon",
					images : [
						{
							imgUrl : imgPath+"1.jpg",
						},
						{
							imgUrl : imgPath+"2.jpg",
						},
						{
							imgUrl : imgPath+"3.jpg",
						},
						{
							imgUrl : imgPath+"5.jpg",
						},
						{
							imgUrl : imgPath+"6.jpg",
						},
						{
							imgUrl : imgPath+"7.jpg",
						},
					]			
				},
				{
					champ_Id : "DEF",
					champ_name : "Bharat Das",
					shop_name : "ABC Enterprise",
					dist_name : "Distributor 5",
					area : "Gurgaon",
					images : [
						{
							imgUrl : imgPath+"8.jpg",
						},
						{
							imgUrl : imgPath+"9.jpg",
						},
						{
							imgUrl : imgPath+"1.jpg",
						},
						{
							imgUrl : imgPath+"2.jpg",
						},
						{
							imgUrl : imgPath+"3.jpg",
						},
						{
							imgUrl : imgPath+"4.jpg",
						},
					]			
				},
				
			]
			
			//Default region can be changed with this variable, so that we can change the default region based on parameter string.
			
		};
	</script>

	<div class="dist_info center-text parent">
		<h4>
			Champion ID. <span ng-bind="data.page.value.champ_Id"></span> <span class="divider">|</span> 
			Champion name. <span ng-bind="data.page.value.champ_name"></span>
		</h4>
		<p>
			Shop name. <span ng-bind="data.page.value.shop_name"></span>  <span class="divider">|</span> 
			Distributor name. <span ng-bind="data.page.value.dist_name"></span> <span class="divider">|</span> 
			Area office name. <span ng-bind="data.page.value.area"></span>
		</p>
	</div>
	
	<p class="alert alert-danger" ng-show="errorMsg.shown" ng-cloak>An Error occured while updating your data. Please try again.</p>

	<div class="winner_gallery">
	
		<div class="slide_gallery">
			<button class="left" ng-click="data.page.value.gallery.prev();">&lsaquo;</button>
			<button class="right" ng-click="data.page.value.gallery.next();">&rsaquo;</button>
			
			<div class="images">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<img ng-src="{{data.page.value.gallery.imgUrl || 'images/1x1.png'}}">
						</td>
					</tr>
				</table>
			</div>
			
			
		</div>
		
		<ul class="thumb_gallery">
			<li ng-repeat="x in data.page.value.gallery.items" style="background-image:url('{{x.imgUrl}}')" ng-class="(x.active)?'active':''" ng-click="data.page.value.gallery.changeImage($index)"></li>
		</ul>
	
	</div>
	
	<div class="album_cta self-clear">
		<div class="pull-right paging">
			<button ng-click="data.page.prev();" ng-disabled="(data.page.currentIndx == 0)">< Previous Page</button>
			<span ng-bind="(data.page.currentIndx + 1)"></span> of <span ng-bind="data.page.length"></span>
			<button class="active" ng-click="data.page.next();" ng-disabled="(data.page.currentIndx >= (data.page.length-1))">Next Page></button>
		</div>
	</div>

	
	<div class="loading pop-up" ng-class="(loading.shown == true)?'active':''">
		<div>
			<div class="body" id="floatBarsG">
				<div id="floatBarsG_1" class="floatBarsG"></div>
				<div id="floatBarsG_2" class="floatBarsG"></div>
				<div id="floatBarsG_3" class="floatBarsG"></div>
				<div id="floatBarsG_4" class="floatBarsG"></div>
				<div id="floatBarsG_5" class="floatBarsG"></div>
				<div id="floatBarsG_6" class="floatBarsG"></div>
				<div id="floatBarsG_7" class="floatBarsG"></div>
				<div id="floatBarsG_8" class="floatBarsG"></div>
			</div>
		</div>
	</div>

</div>
			
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by BI Worldwide</p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script> 
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->

<script src="js/display_contest.js"></script>


</body>
</html>