<!DOCTYPE html>
<html>
<head>
	<title>Region Wise</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
			
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
	<!-- Header End --> 
	<!-- Body Content Start -->

<div class="container display_contest" ng-app="app" ng-controller="regionWise">
	<div class="btn-group btn-group-justified">
		<a href="#" class="btn btn-primary" ng-class="(data.region =='north')?'active':''" ng-click="data.changeRegion('north')">NORTH</a>
		<a href="#" class="btn btn-primary" ng-class="(data.region =='west')?'active':''" ng-click="data.changeRegion('west')">WEST</a>
		<a href="#" class="btn btn-primary" ng-class="(data.region =='south')?'active':''" ng-click="data.changeRegion('south')">SOUTH</a>
		<a href="#" class="btn btn-primary" ng-class="(data.region =='east')?'active':''" ng-click="data.changeRegion('east')">EAST</a>
	</div>
	
	<!-- <ul class="nav btn-group"> -->
		<!-- <li class="btn btn-primary" ng-class="(data.region =='north')?'active':''" ng-click="data.changeRegion('north')">NORTH</li> -->
		<!-- <li class="btn btn-primary" ng-class="(data.region =='west')?'active':''" ng-click="data.changeRegion('west')">WEST</li> -->
		<!-- <li class="btn btn-primary" ng-class="(data.region =='south')?'active':''" ng-click="data.changeRegion('south')">WEST</li> -->
		<!-- <li class="btn btn-primary" ng-class="(data.region =='east')?'active':''" ng-click="data.changeRegion('east')">EAST</li> -->
	<!-- </ul> -->
	
	<script>

		var dynamicData = {
			region : "north",
			currentPage : 0,
			pages : [],
			config : {
				api : {
					//API URL when user change region
					changeRegion : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/getRegion.php",
					//URL to redirect when user click on select winner button.
					selectWinner : "display_contest_declareWinners.html",
					//URL to redirect when user click on pending or submit text. This will followed by querry param.
					pendingOrSubmitClick : "display_contest_distributor.html"
				},
			}
		};
		
		//Pushing in dummy data. Remove this function in the live server but use the same object data structure for dynamicData.
		(function(){
			
			var flag,
				i,j,
				id = 1;
			
			for(i = 0; i < 3; i++){
				
				dynamicData.pages.push({
					items : []
				});
				
				for(j = 0; j < 30; j++){
				
					flag = (++id % 3 == 0)?true : false; // Pusing dummy sumitted status.
					pending = (id % 3 == 0)?0 : 3; //Pusing dummy no of pending field.
					
					dynamicData.pages[i].items.push({
						dist_id : id,
						dist_name : "Distributor "+id,
						reg_champions : id,
						part_champions : id,
						part_perc : id,
						images_uploaded : id,
						submitted : flag,
						pending : pending
					});
				}
			}
			
			//INSPECT THE OBJECT STRUCTURE IN CONSOLE
			console.log(dynamicData);
		})();
		
	</script>
	
	<div class="table_wrapper table-responsive">
		<p class="alert alert-danger" ng-show="errorMsg.shown" ng-cloak>There is a problem updating your data. Please try again.</p>
		<table class="table">
			<thead>
				<tr title="Click to sort by this field">
					<td ng-click="data.sort.sortIt('dist_name');">DISTRIBUTOR
						<p class="sort" ng-class="[(data.sort.key == 'dist_name' || data.sort.key == '-dist_name')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
					</td>
					<td ng-click="data.sort.sortIt('reg_champions')">NUMBER OF<br>REGISTERED<br>CHAMPOINS
						<p class="sort" ng-class="[(data.sort.key == 'reg_champions' || data.sort.key == '-reg_champions')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
					</td>
					<td ng-click="data.sort.sortIt('part_champions')">NUMBER OF<br>PARTICIPATED<br>CHAMPOINS
						<p class="sort" ng-class="[(data.sort.key == 'part_champions' || data.sort.key == '-part_champions')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
					</td>
					<td ng-click="data.sort.sortIt('part_perc')">PARTICIPATION<br>PERCENTAGE
						<p class="sort" ng-class="[(data.sort.key == 'part_perc' || data.sort.key == '-part_perc')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
					</td>
					<td ng-click="data.sort.sortIt('images_uploaded')">NUMBER OF<br>IMAGES<br>UPLOADED
						<p class="sort" ng-class="[(data.sort.key == 'images_uploaded' || data.sort.key == '-images_uploaded')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
					</td>
					<td ng-click="data.sort.sortIt('pending')">STATUS
						<p class="sort" ng-class="[(data.sort.key == 'pending' || data.sort.key == '-pending')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in data.pages.value | orderBy : data.sort.key">
					<td ng-bind="x.dist_name"></td>
					<td ng-bind="x.reg_champions"></td>
					<td ng-bind="x.part_champions"></td>
					<td ng-bind="x.part_perc"></td>
					<td ng-bind="x.images_uploaded"></td>
					<td>
						<a href="{{config.api.pendingOrSubmitClick+'?id='+x.dist_id}}" ng-show="x.submitted">Submitted</a>
						<a class="pending" href="{{config.api.pendingOrSubmitClick+'?id='+x.dist_id}}" ng-show="!x.submitted" ng-bind="'('+x.pending+') Pending'"></a>
					</td>
				</tr>
			</tbody>
		</table>
	
		<div class="album_cta self-clear">
			<div class="pull-right paging">
				<button ng-disabled="data.pages.currentIndx == 0" ng-click="data.pages.prev()">< Previous Page</button>
				<span ng-bind="(data.pages.currentIndx + 1)"></span> of <span ng-bind="(data.pages.length)"></span>
				<button class="active" ng-disabled="data.pages.currentIndx == (data.pages.length - 1)" ng-click="data.pages.next()">Next Page></button>
			</div>
			<div class="clear"></div>
			<br>
			<a href="{{config.api.selectWinner}}">
				<button class="pull-right CTA btn">SELECT WINNER</button>
			</a>
		</div>
	
	</div>
	
	<div class="loading pop-up" ng-class="(loading.shown == true)?'active':''">
		<div>
			<div class="body" id="floatBarsG">
				<div id="floatBarsG_1" class="floatBarsG"></div>
				<div id="floatBarsG_2" class="floatBarsG"></div>
				<div id="floatBarsG_3" class="floatBarsG"></div>
				<div id="floatBarsG_4" class="floatBarsG"></div>
				<div id="floatBarsG_5" class="floatBarsG"></div>
				<div id="floatBarsG_6" class="floatBarsG"></div>
				<div id="floatBarsG_7" class="floatBarsG"></div>
				<div id="floatBarsG_8" class="floatBarsG"></div>
			</div>
		</div>
	</div>

</div>
			
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by BI Worldwide</p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script> 
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->

<script src="js/display_contest.js"></script>


</body>
</html>