<!DOCTYPE html>
<html>
<head>
	<title>Display Contest - Album Upload</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
			
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
	<!-- Header End --> 
	<!-- Body Content Start -->
	<div class="body-container" ng-app="app" ng-controller="upload">
		<div class="clearfix body-content disp_contest">
			<div class="album_info">
				<div class="title">
					<p>1-6LN9PXT_2081040_SILIGURI</p>
				</div>
				<div class="desc">
					<p>Tata Genuine Parts Diwali Decoration Contest 2016 is brought to you by Tata Motors Limited.Contest is open to all registered members of TATA Champion program.Contest is valid from 26th October 2016 to 6th November 2016 (“Contest Period”).To participate in the Contest:
					Click a picture of your clean & decorated Shop and Click a selfie with family in Traditional wear.One champion can submit minimum 1 and maximum 3 photographs</p>
					<ul>
						<li>1st Picture - Clean & decorated Shop</li>
						<li>2nd Picture - Decoration & Branding with TATA Genuine parts in background</li>
						<li>3rd Picture - Selfie with family in Traditional wear</li>
					</ul>
				</div>
			</div>
			
			<script>
				var dynamicData = [
					{
						uploaded : true,
						name : "album1",
						imgUrl : "images/dummy1.jpg",
						theme : "Your clean shop"
					},
					{
						uploaded : true,
						name : "album2",
						imgUrl : "images/dummy2.jpg",
						theme : "Your decorated shop"
					},
					{
						uploaded : false,
						name : "album3",
						imgUrl : "",
						theme : "Family selfie"
					},
					{
						uploaded : false,
						name : "album3",
						imgUrl : "",
						theme : "Family selfie"
					},
					{
						uploaded : false,
						name : "album3",
						imgUrl : "",
						theme : "Family selfie"
					},
					{
						uploaded : false,
						name : "album3",
						imgUrl : "",
						theme : "Family selfie"
					},
						
				];
			</script>
			
			<div class="album_upload">
				
				<div class="album" ng-repeat="x in albums.item">
					<div class="image">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<img ng-src="{{x.imgUrl || 'images/1x1.png'}}">
								</td>
							</tr>
						</table>
					</div>
					<p class="image_theme" ng-bind="x.theme"></p>
					<button ng-show="!x.uploaded" ng-click="x.addImage();">Add Image</button>
					<button ng-show="x.uploaded" ng-click="x.delete();">Delete</button>
				</div>
				

				<button class="btn_big" ng-click="albums.submit();">PARTICIPATE</button>

				
				<!--
					Post this form to the target Server and store the image files. This form will have a input like the following:
					
					<input accept="image/*" name="album1" type="file">
					<input accept="image/*" name="album2" type="file">
					<input accept="image/*" name="album3" type="file">
				-->
				<form id="hiddenForm" action="display_contest_edit.html" style="display:none" class="hidden_form" method="post" enctype="multipart/form-data">
				</form>
	

			</div>
		</div>
			
	</div>
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by BI Worldwide</p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="js/jquery-1.10.2.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->

<script src="js/display_contest.js"></script>


</body>
</html>