<!DOCTYPE html>
<html>
<head>
	<title>Display Contest - Album View</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<style>
		@charset "UTF-8";	[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
		ng\:form {
			display:block;
		}
		.ng-animate-shim {
			visibility:hidden;
		}
		.ng-anchor {
			position:absolute;
		}

	</style>
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
	
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
	<!-- Header End --> 
	<!-- Body Content Start -->
	<div class="body-container" ng-app="app" ng-controller="view">
		<div class="clearfix body-content disp_contest">
			<div class="album_info">
				<div class="title">
					<p>1-6LN9PXT_2081040_SILIGURI</p>
				</div>
				<div class="desc">
					<p>Tata Genuine Parts Diwali Decoration Contest 2016 is brought to you by Tata Motors Limited.Contest is open to all registered members of TATA Champion program.Contest is valid from 26th October 2016 to 6th November 2016 (“Contest Period”).To participate in the Contest:
					Click a picture of your clean & decorated Shop and Click a selfie with family in Traditional wear.One champion can submit minimum 1 and maximum 3 photographs</p>
					<ul>
						<li>1st Picture - Clean & decorated Shop</li>
						<li>2nd Picture - Decoration & Branding with TATA Genuine parts in background</li>
						<li>3rd Picture - Selfie with family in Traditional wear</li>
					</ul>
				</div>
			</div>
			
			<script>
				var dynamicData = [
					{
						name : "album1",
						uploaded : true,
						imgUrl : "images/dummy1.jpg",
						theme : "Your clean shop"
					},
					{
						name : "album2",
						uploaded : true,
						imgUrl : "images/dummy2.jpg",
						theme : "Your decorated shop"
					},
					{
						name : "album3",
						uploaded : true,
						imgUrl : "images/dummy3.jpg",
						theme : "Family selfie"
					},
					{
						name : "album3",
						uploaded : true,
						imgUrl : "images/dummy3.jpg",
						theme : "Family selfie"
					},
					{
						name : "album3",
						uploaded : true,
						imgUrl : "images/dummy3.jpg",
						theme : "Family selfie"
					},
					{
						name : "album3",
						uploaded : true,
						imgUrl : "images/dummy3.jpg",
						theme : "Family selfie"
					},
					
				];
			</script>
			<div class="album_cta self-clear">
				<div class="pull-right">
					<a href="display_contest_upload.html"><button>Edit Album</button></a>
					<button ng-click="finalSubmit.prompt.show();finalSubmit.errorMsg.hide()">Final Submit</button>
				</div>
			</div>
			
			<div class="album_view">
				
				<div class="album" ng-click="gallery.show(0)" ng-repeat="x in albums">
					<div class="image" style="background-image:url('{{x.imgUrl}}')"></div>
					<p class="image_theme" ng-bind="x.theme"></p>
				</div>
				
			</div>
			
			<div class="full_scr_gallery pop-up" ng-cloak ng-class="(gallery.showing)?'active':''">
				<div ng-click="gallery.hide();">
					<div class="body" ng-click="stopPropagation($event);">
						<button class="close" ng-click="gallery.hide();">&times;</button>
						<button class="left" ng-click="gallery.prev();">&lsaquo;</button>
						<button class="right" ng-click="gallery.next();">&rsaquo;</button>
						
						<table cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<img ng-src="{{gallery.currentImgUrl}}">
							</td>
						</tr>
						</table>
						
					</div>
				</div>
			</div>
			
			<div class="pop-up submit" ng-class="(finalSubmit.prompt.status)?'active':''">
				<div ng-click="finalSubmit.prompt.hide();">
					<div class="body" ng-click="stopPropagation($event)">
						<h4>This is your final submission to the contest and no more submissions will be allowed. Do you want to continue?</h4>
						
						<img ng-show="finalSubmit.loadingAnim.status" class="center-block" src="images/loadingAnimation.gif" ng-cloak>
						
						<p class="alert alert-danger" ng-show="finalSubmit.errorMsg.status" ng-cloak>There is an error while updating your data. Please try again.</p>
						
						<button ng-click="finalSubmit.submit()">YES</button>
						<button ng-click="finalSubmit.prompt.hide();">NO</button>
						
					</div>
				</div>
			</div>
			
			<div class="pop-up submit" ng-class="(finalSubmit.finalMsg.status)?'active':''">
				<div>
					<div class="body">
						<h4>'1' image(s) successfully submitted</h4>
						<a href="display_contest_view.html"><button>OK</button></a>
					</div>
				</div>
			</div>
			
			
		</div>
			
	</div>
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by BI Worldwide</p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="js/jquery-1.10.2.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->

<script src="js/display_contest.js"></script>


</body>
</html>