<!DOCTYPE html>
<html>
<head>
	<title>Distributor Wise</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
			
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
	<!-- Header End --> 
	<!-- Body Content Start -->
	<script>
	
		var dynamicData = {
			pages : [],
			dist_name : "Distributor 7",
			id : "1258",
			area : "Delhi",
			currentPage : 0,		//Define the current page.
			redirectToAfterSave : 'display_contest_regionwise.html',
			//APPLICATION CONFIGURATIONS
			config : {
				api : {
					//API URL when user click on "Update shortlist" CTA
					shortlist : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/shortList.php"
				}
			}
		};
				
		//REMOVE THIS FUNCTION AND FEED ACTUAL DYNAMNIC DATA. YOU CAN SEE THE COMPLETE STRUCTURE OF DYNAMIC DATA FROM CONSOLE.
		(function(){
			
			var shortListed,
				i,j, id = 1, imgName = 0,
				imgPath = "http://172.16.174.75/workspace/PROJECTS/dummy/";
			
			for(i = 0; i < 3; i++){
				dynamicData.pages.push({
					items : []
				});
				
				for(j = 0; j < 5; j++){
					dynamicData.pages[i].items.push({
						id : id++,
						selected : shortListed,
						shortListed : shortListed,
						images : [
							{
								imgUrl : imgPath + (imgName++) +".jpg",
							},
							{
								imgUrl : imgPath + (imgName++) +".jpg",
							},
							{
								imgUrl : imgPath + (imgName++) +".jpg",
							},
							{
								imgUrl : imgPath + (imgName++) +".jpg",
							},
							{
								imgUrl : imgPath + (imgName++) +".jpg",
							}
						]
					})
				}
			}
			
			//SEE THE COMPLETE STRUCTURE OF DYNAMIC DATA FROM THIS CONSOLE.
			console.log(dynamicData);
			
		})();
		
	</script>
<div class="container display_contest" ng-app="app" ng-controller="distributors">
	
	<div class="dist_info center-text parent">
		<h2 ng-bind="data.dist_name"></h2>
		<p>Id no : <span ng-bind="data.id"></span> | Area - <span ng-bind="data.area"></span></p>
	</div>
	
	<p class="alert alert-danger" ng-show="errorMsg.shown" ng-cloak>An Error occured while updating your data. Please try again.</p>
	<p class="alert alert-success" ng-show="successMsg.shown" ng-cloak>
		Successfully updated the shortlist. You will be redirected to the distributor page in <span ng-bind="timer.sec"></span> seconds
	</p>
	
	<p class="alert alert-warning" ng-show="warningMsg.shown" ng-cloak>Please check any of the checkbox to shortlist</p>
	
	<div class="album_list shortList">
		<ul class="self-clear" ng-repeat="x in data.pages.value" ng-class="(x.shortListed == true)?'shortlisted':''">
			<li ng-click="x.selected = !x.selected; data.counter.count();">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<h4>SERIAL NO. <span>{{x.id}}</span></h4>
							<!-- <input type="checkbox"> -->
							<div class="checkbox" ng-class="(x.selected)?'active':'inactive'"></div>
							<p ng-hide="(x.shortListed == true)">Click to select entry</p>
							<p class="label label-success" ng-show="(x.shortListed == true)">SHORTLISTED</p>
						</td>
					</tr>
				</table>
				
			</li>
			<li>
				<ul class="gallery" ng-gallery="x.images" ng-gallery-control="fsGallery"></ul>
			</li>
		</ul>
	</div>
	
	<p class="alert alert-danger" ng-show="errorMsg.shown" ng-cloak>An Error occured while updating your data. Please try again.</p>
	<p class="alert alert-success" ng-show="successMsg.shown" ng-cloak>
		Successfully updated the shortlist. You will be redirected to the distributor page in <span ng-bind="timer.sec"></span> seconds
	</p>
	<p class="alert alert-warning" ng-show="warningMsg.shown" ng-cloak>Please check any of the checkbox to shortlist</p>
	
	<div class="album_cta self-clear">
		<div class="pull-left">
			<p><span ng-bind="data.counter.selectedIds.length"></span> Selected</p>
			<p>Selected Id's : <span ng-bind="data.counter.selectedIds.join(', ')"></span></p>
		</div>
		<div class="pull-right paging">
			<button ng-disabled="data.pages.currentIndx == 0" ng-click="data.pages.prev()">< Previous Page</button>
			<span ng-bind="(data.pages.currentIndx + 1)"></span> of <span ng-bind="(data.pages.length)"></span>
			<button class="active" ng-disabled="data.pages.currentIndx == (data.pages.length - 1)" ng-click="data.pages.next()">Next Page></button>
		</div>
		<div class="clear"></div>
		<button class="pull-right CTA" ng-click="data.shortList()" title="Click to shortlist the selected champoins">UPDATE SHORTLIST</button>
		
	</div>
		
	<div class="full_scr_gallery pop-up" ng-cloak ng-class="(fsGallery.shown)?'active':''">
		<div ng-click="fsGallery.hide();">
			<div class="body" ng-click="stopPropagation($event);">
				<button class="close" ng-click="fsGallery.hide();">&times;</button>
				<button class="left" ng-click="fsGallery.prev();">&lsaquo;</button>
				<button class="right" ng-click="fsGallery.next();">&rsaquo;</button>
				
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<img ng-src="{{fsGallery.imgUrl || 'images/1x1.png'}}">
					</td>
				</tr>
				</table>
				
			</div>
		</div>
	</div>
	
	<div class="loading pop-up" ng-class="(loading.shown == true)?'active':''">
		<div>
			<div class="body" id="floatBarsG">
				<div id="floatBarsG_1" class="floatBarsG"></div>
				<div id="floatBarsG_2" class="floatBarsG"></div>
				<div id="floatBarsG_3" class="floatBarsG"></div>
				<div id="floatBarsG_4" class="floatBarsG"></div>
				<div id="floatBarsG_5" class="floatBarsG"></div>
				<div id="floatBarsG_6" class="floatBarsG"></div>
				<div id="floatBarsG_7" class="floatBarsG"></div>
				<div id="floatBarsG_8" class="floatBarsG"></div>
			</div>
		</div>
	</div>

</div>
			
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by BI Worldwide</p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script> 
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->

<script src="js/display_contest.js"></script>


</body>
</html>