<!DOCTYPE html>
<html>
<head>
	<title>GuruDayLeaderboard2016</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<!-- <script type="text/javascript" src="js/raphael.js"></script> -->
	<!-- <script src="js/campaign_corousel.js"></script> -->
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
	<!-- Header End --> 
	<!-- Body Content Start -->
	<div class="body-container" ng-app="sweepstake" ng-controller="ctrl">
		<div class="clearfix body-content guruday-dashboard">
			
			<ul class="tab">
				<li class="active">Guru Sweepstake</li>
				<li onclick="location.href='GuruDay_bumper.html'">Guru Bumper Offer</li>
				<li onclick="location.href='GuruDay_msr.html'">MSR Scheme</li>
				<li onclick="location.href='GuruDay_distributor.html'">Distributor Scheme</li>
			</ul>
			
			<ul class="filter">
				<li class="north" ng-class="(tab.showNorth == true)?'active':'inactive'" ng-click="show('showNorth')"></li>
				<li class="west" ng-class="(tab.showWest == true)?'active':'inactive'" ng-click="show('showWest')"></li>
				<li class="south" ng-class="(tab.showSouth == true)?'active':'inactive'" ng-click="show('showSouth')"></li>
				<li class="east" ng-class="(tab.showEast == true)?'active':'inactive'" ng-click="show('showEast')"></li>
			</ul>
			
			<table class="guru-table" id="north" ng-show="tab.showNorth">
				<thead>
					<tr>
						<th>TIME SLOT</th>
						<th>GURU DETAILS</th>
						<th>GARAGE NAME</th>
						<th>CONTACT NUMBER</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					
				</tbody>
			</table>
			
			<!--
				WEST
			-->
			
			<table class="guru-table" id="west" ng-show="tab.showWest">
				<thead>
					<tr>
						<th>TIME SLOT</th>
						<th>GURU DETAILS</th>
						<th>GARAGE NAME</th>
						<th>CONTACT NUMBER</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_west.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					
				</tbody>
			</table>
			
			<!--
				SOUTH
			-->
			
			<table class="guru-table" id="south" ng-show="tab.showSouth">
				<thead>
					<tr>
						<th>TIME SLOT</th>
						<th>GURU DETAILS</th>
						<th>GARAGE NAME</th>
						<th>CONTACT NUMBER</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_south.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					
				</tbody>
			</table>
			
			<!--
				EAST
			-->
			
			<table class="guru-table" id="east" ng-show="tab.showEast">
				<thead>
					<tr>
						<th>TIME SLOT</th>
						<th>GURU DETAILS</th>
						<th>GARAGE NAME</th>
						<th>CONTACT NUMBER</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					<tr>
						<td>10.00 AM - 12.00 AM</td>
						<td class="guru-profile-field">
							<ul>
								<li><img src="images/propic_east.jpg"></li>
								<li><p class="left-text">
										Guru ID: <br>
										2458634 <br><br>
										Guru Name:<br>
										Purvi Rao
									</p>
								</li>
							</ul>
						</td>
						<td>BIWORLDWIDE</td>
						<td>+91 9632668899</td>
					</tr>
					
				</tbody>
			</table>
			
		</div>		
	</div>
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by BI Worldwide</p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script> 
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script>-->
<!-- <script src="js/guruday_sweep.js"></script> -->

<script>
	var app = angular.module("sweepstake",[]);

	app.controller("ctrl",function($scope, $log){
		log = $scope.log = $log.log;
		log("asdfsdf");
		
		$scope.tab = {
			
			showNorth : true,
			showSouth : false,
			showEast : false,
			showWest : false,
		
		}
		
		$scope.show = function(key){
			var self = this,
				tab = self.tab;
			
			tab.showNorth = tab.showSouth = tab.showEast = tab.showWest = false;
			tab[key] = true;
			
		}
		
		
	});
</script>



</body>
</html>