<!DOCTYPE html>
<html>
<head>
	<title>MSR Daily</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<style>
		@charset "UTF-8";	[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
		ng\:form {
			display:block;
		}
		.ng-animate-shim {
			visibility:hidden;
		}
		.ng-anchor {
			position:absolute;
		}

	</style>
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/dhtmlxcalendar.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
	
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
  
	<script>
		/*
			Use these number for testing the id check when connected to dymmy data. 
			1. 9738236953
			2. 9986510839
			3. 9686627773
		*/
		var baseUrl = "data/";

		var dynamicData = {
			config : {
				api : {
					//This api check if the mobile number exist or not.
					checkMobile : baseUrl + "dsrDailySearchMobile.php",
					//Submit the form to this API
					formAction : baseUrl + "regnForm.php",
					getProductGroup : baseUrl + "getProductGroup.php",
					getProductLine : baseUrl + "getProductLine.php",
					getPartNo : baseUrl + "getPartNumber.php",
					
				}
			},
			options : {
				shelfSpace : [
					{
						id	: 0,
						"type" : "Not good"
					},
					{
						id	: 1,
						"type" : "Poor"
					},
					{
						id	: 2,
						"type" : "Fair"
					},
					{
						id	: 3,
						"type" : "Good"
					},
					{
						id	: 4,
						"type" : "Very good"
					},
				],
				feedbackCategories : [
				//: , redemption related, Program related, Promotion Related, Others. 
					{
						id	: 1,
						"type" : "Product Related"
					},
					{
						id	: 2,
						"type" : "Redemption Related"
					},
					{
						id	: 3,
						"type" : "Program Related"
					},
					{
						id	: 4,
						"type" : "Promotion Related"
					},
					{
						id	: 5,
						"type" : "Others"
					},
					
				]
			} 

		};
		
		console.log(dynamicData);
	</script>
	<!-- Header End --> 
	<!-- Body Content Start -->
	
	
	
	
	
	<div class="body-container dsr_daily body-content clearfix" ng-app="app" ng-controller="dsrDaily">
		
		<h2 class="blue_head center-text">DSR DAILY VISIT FORM</h2>
		
		<form class="self-clear" action="tml_daily.html" method="POST" ng-submit="form.submit($event)">
		
			<fieldset class="four_four">
				<label>Member ID / Mobile No *</label>
				
				<div class="input mobile">
					<input type="text" id="mobile" name="id" required ng-model="form.id.value"  ng-keypress="form.id.validate($event)">
					<button class="btn btn-primary" type="button" title="Check Availability" ng-click="form.id.validate()">Check</button>
				</div>
				<p class="alert alert-danger" ng-cloak ng-show="form.id.alert.shown">{{form.id.alert.msg}}</p>
			</fieldset>
			
			<fieldset class="four_four">
				<label>Member Name</label>
				<input type="text" required ng-model="form.name.value" readonly>
			</fieldset>
			
			<fieldset class="one_four">
				<label>Previous Visit Date</label>
				<div class="input date">
					<input type="text" id="pre_visit" required placeholder="" name="dateOfAnniversary" readonly ng-customvalue="form.prevDate.value | date">
				</div>
				
				<label>Previous Feedback (if any)</label>
				<input type="text" ng-model="form.prevFeedback.value" readonly>
				
				<label>Visit Date *</label>
				<div class="input date">
					<input type="text" id="visit" required ng-input-date2="form.visitDate" placeholder="Pick a date" name="dateOfAnniversary" ng-disabled="form.visitDate.disabled" autocomplete="off">
				</div>
				
				<label>Counter Share *</label>
				<select ng-model="form.shelfSpace.values" ng-options="x.type for x in form.shelfSpace.list" ng-disabled="form.shelfSpace.disabled" required>
					<option value='' disabled>Select</option>
				</select>
				
				
			</fieldset>
			
			<fieldset class="three_four padded">
				
				
				<label class="toggle">Does the retailer get sufficient promotional material? *</label>
				<div class="input toggle" ng-class="(form.promoMat.disabled)?'disabled':''">
					<div class="parent" ng-class="(form.promoMat.value == false)?'false':'true'" ng-click="form.promoMat.value = !form.promoMat.value">
						<div class="handle"></div>
						<p class="true-text">YES</p>
						<p class="false-text">NO</p>
						
					</div>
					<input type="checkbox" ng-model="form.promoMat.value" style="display:none">
				</div>
				
				<br>
				<label class="toggle">Have you handed over any product literature? *</label>
				<div class="input toggle" ng-class="(form.promoLit.disabled)?'disabled':''">
					<div class="parent" ng-class="(form.promoLit.value == false)?'false':'true'" ng-click="form.promoLit.value = !form.promoLit.value">
						<div class="handle"></div>
						<p class="true-text">YES</p>
						<p class="false-text">NO</p>
						
					</div>
					<input type="checkbox" ng-model="form.promoLit.value" style="display:none">
				</div>
				
					
			</fieldset>
			
			<fieldset class="four_four">
				<label>Part Knowledge Shared *</label>
				<div class="input toggle" ng-class="(form.partShared.disabled)?'disabled':''">
					<div class="parent" ng-class="(form.partShared.value == false)?'false':'true'" ng-click="form.partShared.value = !form.partShared.value">
						<div class="handle"></div>
						<p class="true-text">YES</p>
						<p class="false-text">NO</p>
						<input type="checkbox" ng-model="form.partShared.value" style="display:none">
					</div>
				</div>	
			</fieldset>
			
			<div ng-expanded="form.partShared.value" class="overflow-hidden">
			<!-- PRODUCT GROUP SEECTION-->
				<fieldset class="four_four">
					
					<label class="align-top">Which Product Groups have been discussed during this visit? *<br><span>(Click to Multi Select)</span></label>
					
					<div class="input multiselect" ng-class="(form.productGroup.disabled || !form.partShared.value)?'disabled':''">
						<div class="head">
							<div class="item" ng-repeat="x in form.productGroup.values track by $index">
								<p ng-bind="x.name"></p>
								<button class="close" type="button" ng-click="form.productGroup.deselect($index);">&times;</button>
							</div>
							<div class="dropdown-arrow" ng-click="form.productGroup.toggleExpansion();" title="Toggle Expansion"></div>
						</div>
						
						<div class="option_list" ng-expanded="form.productGroup.expanded">
							<ul class="hasTopMargin">
								<li ng-repeat="x in form.productGroup.list track by $index" ng-click="form.productGroup.select(x)" ng-class="(x.selected == true)?'active':'inactive'">{{x.name}}</li>
							</ul>
							<div class="parent submit">
								<button type="button" class="CTA normal pull-right btn btn-primary" ng-click="form.productLine.get(form.productGroup.values)" ng-disabled="form.productGroup.values.length == 0">Submit</button>
							</div>
						</div>
						
					</div>
					
				</fieldset>
				
				
			<!-- PRODUCT LINE SEECTION-->
				<fieldset class="four_four">
					
					<label class="align-top">Select the Part Line(s) that you discussed during today's visit. *<br><span>(Click to Multi Select)</span></label>
					
					<div class="input multiselect" ng-class="(form.productGroup.disabled || !form.partShared.value)?'disabled':''">
						<div class="head">
							<div class="item" ng-repeat="x in form.productLine.values track by $index">
								<p ng-bind="x.name"></p>
								<button class="close" type="button" ng-click="form.productLine.deselect($index);">&times;</button>
							</div>
							<div class="dropdown-arrow" ng-click="form.productLine.toggleExpansion();" title="Toggle Expansion"></div>
						</div>
						
						<div class="option_list" ng-expanded="form.productLine.expanded">
							<div class="searchBox">
								<input type="text" id="productLine_search" placeholder="Search.." ng-search="form.productLine">
								<span class="glyphicon glyphicon-search"></span>
							</div>
							
							<ul ng-repeat="x in form.productLine.list track by $index">
								<h3 class="group-title" ng-bind="x.group_name"></h3>
								<li ng-repeat="y in x.items track by $index" ng-click="form.productLine.select(y)" ng-class="(y.selected == true)?'active':'inactive'">{{y.name}}</li>
							</ul>
							
							<div class="parent submit">
								<button type="button" class="CTA normal pull-right btn btn-primary" ng-click="form.partNo.get(form.productLine.values)" ng-disabled="form.productLine.values.length == 0">Submit</button>
							</div>
						</div>
						
					</div>
				</fieldset>
				
			<!-- PART NUMBER SEECTION-->
				<fieldset class="four_four">
					<label class="align-top">Select the Part Numbers that you discussed during today's visit.<br><span>(Click to Multi Select)</span></label>
					<div class="input multiselect" ng-class="(form.productGroup.disabled || !form.partShared.value)?'disabled':''">
						<div class="head">
							<div class="item" ng-repeat="x in form.partNo.values track by $index">
								<p ng-bind="x.name"></p>
								<button class="close" type="button" ng-click="form.partNo.deselect($index);">&times;</button>
							</div>
							
							<div class="dropdown-arrow" ng-click="form.partNo.toggleExpansion();" title="Toggle Expansion"></div>
						</div>
						
						<div class="option_list" ng-expanded="form.partNo.expanded">
							
							<div class="searchBox">
								<input type="text" id="partNo_search" placeholder="Search.." ng-search="form.partNo">
								<span class="glyphicon glyphicon-search"></span>
							</div>
							
							<ul ng-repeat="x in form.partNo.list track by $index">
								<h3 class="group-title" ng-bind="x.group_name"></h3>
								<li ng-repeat="y in x.items track by $index" ng-click="form.partNo.select(y)" ng-class="(y.selected == true)?'active':'inactive'">{{y.name}}</li>
							</ul>
							
							<!-- <div class="parent submit"> -->
								<!-- <button type="button" class="CTA normal pull-right" ng-click="form.partNo.get(form.partNo.values)">Submit</button> -->
							<!-- </div> -->
						</div>
					</div>
				</fieldset>
			</div>
			<br><br>
			<!-- MEMBER FEEDBACK SECTION-->
			<fieldset class="four_four">
				<legend>Member Feedback</legend>
				<label>Feedback Category</label>
				<select ng-model="form.feedbackCat.values" ng-options="x.type for x in form.feedbackCat.list" ng-disabled="form.feedbackCat.disabled">
					<option value="" disabled>Select</option>
				</select>
				
				
				<label class="align-top">Feedback Details</label>
				<textarea ng-model='form.memberFeedback.value' ng-disabled="form.memberFeedback.disabled" placeholder="Type a feedback" maxlength="1000"></textarea>
				<label>&nbsp;</label>
				<label>Character left : <span ng-bind="1000 - form.memberFeedback.value.length"></span></label>
			</fieldset>
			
			<p class="alert alert-danger" ng-bind="form.formError.msg" ng-show="form.formError.shown" ng-cloak></p>
			
			<div class="album_cta self-clear">
				<button class="pull-right CTA blueBtn" type="submit" title="Submit the form" ng-disabled="form.disabled">SUBMIT</button>
			</div>
		</form>
	
		<div class="pop-up prompt" ng-class="(postSubmit.shown == true)?'active':''">
			<div>
				<div class="body">
					<a href="index.html">
						<button class="close">&times;</button>
					</a>
					<h3 class="text-center">Entered successfully.</h3>
					<h4 class="text-center">Do you want to add more?</h4>
					<div class="text-center postSubmitBtn">
						<button class="btn btn-primary" ng-click="form.reset();postSubmit.hide();">Yes</button>
						<a href="index.html">
							<button class="btn btn-primary">No</button>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="loading pop-up" ng-class="(loading.status == true)?'active':''" ng-init="log(loading)">
			<div>
				<div class="body" id="floatBarsG">
					<div id="floatBarsG_1" class="floatBarsG"></div>
					<div id="floatBarsG_2" class="floatBarsG"></div>
					<div id="floatBarsG_3" class="floatBarsG"></div>
					<div id="floatBarsG_4" class="floatBarsG"></div>
					<div id="floatBarsG_5" class="floatBarsG"></div>
					<div id="floatBarsG_6" class="floatBarsG"></div>
					<div id="floatBarsG_7" class="floatBarsG"></div>
					<div id="floatBarsG_8" class="floatBarsG"></div>
				</div>
			</div>
		</div>
			
	</div>
	
	
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by<a href="#"><img width="25%" src="images/BIWorldwide_logo.jpg" alt="BIWORLDWIDE.CO.IN"></a></p>
		
		<span class="footer-list">
			<a href="">Privacy Policy</a>
			<a href="">Terms of Use</a>
		</span>
		
		
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="js/jquery-1.10.2.js"></script> 
<script src="js/dhtmlxcalendar.js"></script> 
<script src="js/velocity.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
<script src="js/angular-app.js"></script>
<script src="js/tml_msrDaily.js"></script>


</body>
</html>