<!DOCTYPE html>
<html>

<head>
	<title>MSR Daily</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<style>
		@charset "UTF-8";
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-shim {
			visibility: hidden;
		}

		.ng-anchor {
			position: absolute;
		}
	</style>
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/dhtmlxcalendar.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">

</head>

<body>
	<div class="container">
		<!-- Header Start -->
		<div class="header center-block no_print">
			<div class="menu-background">
				<div class="col-sm-2">
					<img src="images/logo.png" class="logo" />
				</div>
				<div class="col-sm-10">
					<div class="tata-tabs clearfix">
						<div class="circle circle1">
							<a href="#">Home</a>
						</div>
						<div class="circle circle2">
							<a href="#">About the program</a>
						</div>
						<div class="circle circle3 dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Option 1</a>
								</li>
								<li>
									<a href="#">Option 2</a>
								</li>
								<li>
									<a href="#">Option 3</a>
								</li>
							</ul>
						</div>
						<div class="circle circle4">
							<a href="#">My Privileges</a>
						</div>
						<div class="circle circle5">
							<a href="#">Events</a>
						</div>
						<div class="circle circle6 dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource Centre
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Resource Centre1</a>
								</li>
								<li>
									<a href="#">Resource Centre2</a>
								</li>
								<li>
									<a href="#">Resource Centre3</a>
								</li>
							</ul>
						</div>
						<div class="circle circle7 active">
							<a href="#">Contest</a>
						</div>
					</div>
					<div class="help-links">
						<div class="faq-options">
							<a href="#">FAQ</a>
						</div>
						<div class="pipe">|</div>
						<div class="faq-options">
							<a href="#" class="contactus">Contact Us</a>
						</div>
						<div class="pull-left">
							<p class="tatalogo">
								<img src="images/tata.png" />
							</p>
						</div>
					</div>
					<div class="logout-left">
						<a href="#">
							<img src="images/Logout.png" width="84" height="29">
						</a>
					</div>
				</div>
			</div>
		</div>


		<!-- Header End -->
		<!-- Body Content Start -->
		<script>
			var dynamicData = {
				page: [
					{
						categoryName: "Audio-Visual Photography",
						items: []
					},
					{
						categoryName: "Mens' Wear",
						items: []
					},
					{
						categoryName: "Women's Wear",
						items: []
					},
					{
						categoryName: "Vehicle Accessories",
						items: []
					},
					{
						categoryName: "Kitched Applicance",
						items: []
					}
				]

			}


			var dymmynames = ["Samsung Galaxy s8", "Cannon Camera", "Acer Mobile", "Blue Mobile", "Senheizer Earphone", "Nokia N9", "Apple iPhone 8", "Google Pixel 2", "Xiaomi Redmi 5A", "LG Nexux 5", "LG V20", "Samsung Galaxy Note 8", "One Plus 5T", "Huawei Honor 6", "Huawei Honor 7", "Micromax Canvas A", "Lenovo Idea Pad", "Microsoft Surface RT", "Gionee Tablet", "Sony Headphone"];

			dynamicData.page.forEach(function (key, index) {
				for (var i = 1; i < 9; i++) {
					key.items.push({
						imgUrl: "images/item" + (i % 6) + ".jpg",
						name: dymmynames[(i % dymmynames.length)],
						category: "Smart Phone",
						code: "TC1369",
						points: [(6000 + i), (4900 + i)],
						point: (4900 + i),
						tag: "NEW",
						offer: "20% OFF",
						checked: true
					});
				}
			});

			console.log(dynamicData);
		</script>




		<div class="body-container create-pdf body-content clearfix bg-white" ng-app="app" ng-controller="PDFPreviewCtrl">

			<div class="self-clear padding-v-10 margin-top-20 margin-bottom-10 no_print bg-tata-paleblue">
				<h4 class="pull-left col-sm-6">PDF Preview</h4>
				<div class="col-sm-6 text-right">
					<button class=" btn btn-primary" ng-click="download();">Download PDF</button>
				</div>
			</div>

			<div class="bg-tata-blue page-break">
				<img src="images/tata_banner.jpg" class="full-width" style="height: 100%">
			</div>

			<div class="bg-tata-blue font-white margin-top-20 padding-20 page-break">
				<div class="text-center">

					<img src="images/tata_champoin_logo.jpg" class="margin-top-20" style="width: 200px;">
				</div>

				<div class="padding-10">

					<div class="border-solid-1 border-white">
						<div class="padding-10 padding-h-50">
							<div class="text-center">
								<h2 class="text-center margin-bottom-20 bg-white font-black padding-20 inline-block">Redemption of Rewards</h2>
							</div>
							<p>Select anyone of the following options to redeem your favourite reward</p>

							<h5 class="margin-top-20 font-bold">Options1: Offline</h5>
							<table class="text-left margin-top-20">
								<tr>
									<td class="align-top col-50 padding-right-20">
										<p>Select any reward based on your points from the Tata Champoin reward catalogue</p>
										<img src="images/reward_catlogue.jpg" style="width: 90%;">
									</td>
									<td class="align-top col-50 padding-left-20">
										<div class="row">
											<div class="col-sm-7 margin-top-50">
												To redeem the reward, Send SMS TGR [space] [reward code] to 09870663637 from your registered mobile number Eg: TGR TC001
												and send to 09870663637
											</div>
											<div class="col-sm-5">
												<img src="images/send_sms.jpg" class="full-width">
											</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="padding-20 padding-h-50 bg-tata-paleblue">
							<table>
								<tr>
									<td class="col-50 align-top padding-right-20">
										<h5 class="font-bold">Options 2: Online</h5>
										<ul class="margin-bottom-40 padding-left-15">
											<li class="list-item padding-left-20">Download Channel smart mobile app on your android or apple device and login to your TATA Guru account
											</li>
											<li class="list-item margin-top-20 padding-left-20">Select your dream reward and complete the redemption process.</li>
										</ul>

										<img src="images/appstore.jpg" style="width: 100px;">
										<img src="images/googleplay.jpg" style="width: 100px;">


									</td>
									<td class="col-50 padding-left-20 align-top text-center">
										<img src="images/chanel_smart_app.jpg" style="width: 70%">

									</td>
								</tr>
							</table>

						</div>
					</div>
				</div>

			</div>

			<div class="margin-top-20 bg-tata-blue page-break">
				<div class="padding-right-0">
					<div class=" parent">
						<div class="padding-10">

							<p class="padding-h-20 margin-top-20 margin-bottom-0 font-white">Terms & Conditions for Reward and Benefits</p>

							<p class="font-size-07 padding-15 full-width font-white" placeholder="Enter Terms & Conditions">
								Google Maps/Google Earth Additional Terms of Service Last Modified: December 17, 2015 Thanks for using Google Maps and Google
								Earth ("Google Maps/Google Earth"). Google Maps/Google Earth allow you to view and use a variety of content, including
								map and terrain data, imagery, business listings, traffic, reviews, and other related information provided by Google,
								its licensors, and users (the "Content"). By accessing, downloading, or using Google Maps/Google Earth, you are agreeing
								to: the Google Terms of Service (the "Universal Terms"); these Maps/Google Earth additional terms (the "Maps/Earth
								Additional Terms"); the Google Maps/Google Earth Legal Notices (the "Legal Notices"); and the Google Privacy Policy
								(the "Privacy Policy"). Please read each of these four documents carefully, starting with the Universal Terms. The
								Universal Terms clarify, for example, your intellectual property ownership rights in the content you upload, and
								your responsibilities when using Google content or third-party content or when using Google Maps/Google Earth while
								driving. Collectively, we refer to the Universal Terms, the Maps/Earth Additional Terms, the Legal Notices, and the
								Privacy Policy as the "Agreement". The Agreement is a binding contract between you and Google regarding your use
								of Google Maps/Google Earth. License. Subject to the Agreement's terms, Google grants you a non-exclusive, non-transferable
								license to use Google Maps/Google Earth, including features that allow you to: view and annotate maps; create KML
								files and map layers; publicly display Content with proper attribution online, in video, and in print; and do many
								other things described in the Using Google Maps, Google Earth, and Street View permissions page. Prohibited Conduct.
								When using Google Maps/Google Earth, you may not (or allow those acting on your behalf to): redistribute or sell
								any part of Google Maps/Google Earth or create a new product or service based on Google Maps/Google Earth (unless
								you use the Google Maps/Google Earth APIs in accordance with their terms of service); copy the Content (unless you
								are otherwise permitted to do so by the Using Google Maps, Google Earth, and Street View permissions page or applicable
								intellectual property law, including "fair use"); mass download or create bulk feeds of the Content (or let anyone
								else do so); use Google Maps/Google Earth to create or augment any other mapping-related dataset (including a mapping
								or navigation dataset, business listings database, mailing list, or telemarketing list) for use in a service that
								is a substitute for, or a substantially similar service to, Google Maps/Google Earth; use any part of Google Maps/Google
								Earth with other people's products or services for or in connection with real-time navigation or autonomous vehicle
								control, except through a specific Google-provided feature such as Android Auto or Send to Car; reverse engineer
								or attempt to extract the source code from Google Maps/Google Earth or any related software, except to the extent
								that this restriction is expressly prohibited by applicable law; remove, obscure, or alter any Google terms of service
								or any links to or notices of those terms, or any copyright, trademark, or other proprietary rights notices; or do
								anything inappropriate, illegal, or in violation of others' rights (including their privacy, publicity, and intellectual
								property rights). Actual Conditions; Assumption of Risk. When you use Google Maps/Google Earth's map data, traffic,
								directions, and other Content, you may find that actual conditions differ from the map results and Content, so exercise
								your independent judgment and use Google Maps/Google Earth at your own risk. You’re responsible at all times for
								your conduct and its consequences. Your Content in Google Maps/Google Earth. Content you upload, submit, store, send,
								or receive through Google Maps/Google Earth is subject to Google’s Universal Terms, including the license in the
								section entitled “Your Content in our Services”. However, content that remains exclusively local to your device (such
								as a locally-stored KML file) is not uploaded or submitted to Google, and is therefore not subject to that license.
								Government Users. If you are using our Services on behalf of a government entity, the following terms apply: Government
								Uses of Our Services. The Universal Terms section entitled “Business uses of our Services” is replaced in its entirety
								with the following: “If you are using our Services on behalf of a government entity, that entity accepts these terms.
								Solely to the extent permitted by applicable law, regulation, or privileges and immunities, that entity will hold
								harmless and indemnify Google and its affiliates, officers, agents and employees from any claim, action or proceedings
								arising from or related to the use of the Services or violation of these terms, including any liability or expense
								arising from claims, losses, damages, judgements, litigation costs and legal fees.” Governing Law. For city or state
								government entities in the United States and European Union, the Universal Terms section regarding governing law
								and venue will not apply. For United States federal government entities, the Universal Terms section regarding governing
								law and venue is replaced in its entirety with the following: “This Agreement will be governed by and interpreted
								and enforced in accordance with the laws of the United States of America without reference to conflict of laws. Solely
								to the extent permitted by federal law: (A) the laws of the State of California (excluding California’s conflict
								of laws rules) will apply in the absence of applicable federal law; and (B) any dispute arising out of or relating
								to this Agreement or the Services will be litigated exclusively in the federal courts of Santa Clara County, California,
								and the parties consent to personal jurisdiction in those courts.” U.S. Government Restricted Rights. All access
								or use of Google Maps/Google Earth by or for the United States federal government is subject to the "U.S. Government
								Restricted Rights" section in the Legal Notices.
							</p>
						</div>


						<div class="text-center">
							<img class="tata-motors-white" src="images/Tata-Motors-logo.png">
						</div>

						<p class="text-center font-white font-11">
							<br>
							<b>Contact Us:</b>
							<br>
							<br> If you have any queries about the program, please feel free to call the
							<br>
							<big>Tata Guru Toll Free No.: 1800 200 8318</big>
							<br>
							<Br>
							<big>For latest point value and reward description log on to Channel Smart mobile app</big>
						</p>

						<hr class="margin-10">



						<div class="self-clear">

							<div class="pull-left padding-20">
								<p class="font-11 font-white">
									Tata Motors LTD.
									<br> Tata Champoin Cell, 3Rd Floor, Teen Hath Naka,
									<br> Gyan Sadhana College Service Road,
									<br> Thane - 400604, Maharashtra, India.
									<br> Toll Free No.: 1800 200 8318
								</p>
							</div>
							<div class="pull-right text-right padding-20">
								<img src="images/tata_genuineparts.png" class="genuine-parts">
							</div>

						</div>



					</div>
				</div>

			</div>

			<div class="page_div margin-top-20 cover-bg pdf-catalogue-bg  page-break" ng-repeat="pageItem in page">

				<div class="text-center padding-20">
					<h2 class=" padding-20 bg-tata-blue font-white margin-top-0 inline-block" ng-bind="pageItem.categoryName"></h2>
				</div>


				<div class="self-clear margin-top-10">
					<div class="col-sm-6 cat-item text-center margin-bottom-20" ng-repeat="item in pageItem.items">
						<div class="border-tata-blue">

							<div class="relative item-thum-stage bg-white">

								<div class="absolute top-0 left-0 bg-tata-blue font-white padding-5">
									<p class="margin-0 font-11" ng-bind="item.tag"></p>
								</div>
								<img ng-src="{{item.imgUrl}}" class="image-item">
								<div class="absolute bottom-0 right-0 bg-tata-blue font-white padding-5">
									<p class="margin-0 font-11" ng-bind="item.offer"></p>
								</div>
							</div>
							<div class="bg-dark-grey font-white padding-10">
								<p class="text-uppercase" ng-bind="item.name"></p>
								<p class="text-uppercase" ng-bind="item.category"></p>
								<p>Code: {{item.code}} Points:
									<strike>{{item.points[0]}}</strike> {{item.points[1]}}</p>

							</div>
						</div>
					</div>

				</div>

				<p class="font-color-444">The images in the catalogue are indicative and are subject to change the time of redemptio. Mentioned point value is revised value post deduction discount mentioned. For T&C follow link <a href="http://www.tatamotorsguru.com" target="_blank">www.tatamotorsguru.com</a></p>

			</div>

			<div class="self-clear padding-v-10 margin-top-20 no_print bg-tata-paleblue">
				<h4 class="pull-left col-sm-6">PDF Preview</h4>
				<div class="col-sm-6 text-right">
					<button class=" btn btn-primary" ng-click="download();">Download PDF</button>
				</div>
			</div>

			<div class="prompt pop-up" ng-class="(prompt.state == true)?'active':''">
				<div ng-click="prompt.hide();">
					<div class="body font-grey text-left" ng-no-propa>
						<h4 ng-bind="prompt.title"></h4>
						<p ng-bind="prompt.message"></p>
						<div class="text-right margin-top-20">
							<button class="btn btn-primary margin-left-10" ng-repeat="button in prompt.buttons track by $index" ng-bind="button" ng-click="$parent.userResponse($index)"></button>
						</div>
					</div>
				</div>
			</div>



			<div class="loading pop-up" ng-class="(loading.state == true)?'active':''">
				<div>
					<div class="body" id="floatBarsG">
						<div id="floatBarsG_1" class="floatBarsG"></div>
						<div id="floatBarsG_2" class="floatBarsG"></div>
						<div id="floatBarsG_3" class="floatBarsG"></div>
						<div id="floatBarsG_4" class="floatBarsG"></div>
						<div id="floatBarsG_5" class="floatBarsG"></div>
						<div id="floatBarsG_6" class="floatBarsG"></div>
						<div id="floatBarsG_7" class="floatBarsG"></div>
						<div id="floatBarsG_8" class="floatBarsG"></div>
					</div>
				</div>
			</div>

		</div>


		<!-- Body Content End -->
		<!-- Footer Start -->
		<div class="footer no_print">
			<p class="copyright">Powered by
				<a href="#">
					<img width="25%" src="images/BIWorldwide_logo.jpg" alt="BIWORLDWIDE.CO.IN">
				</a>
			</p>

			<span class="footer-list">
				<a href="">Privacy Policy</a>
				<a href="">Terms of Use</a>
			</span>


			<p class="tata-genuine">
				<img src="images/tata-genuine.png">
			</p>
		</div>
		<!-- Footer End -->
	</div>
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/dhtmlxcalendar.js"></script>
	<script src="js/velocity.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/angular-app.js"></script>
	<script src="js/pdf_create_select_item.js"></script>


</body>

</html>