<!DOCTYPE html>
<html>

<head>
	<title>MSR Daily</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<style>
		@charset "UTF-8";
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-shim {
			visibility: hidden;
		}

		.ng-anchor {
			position: absolute;
		}
	</style>
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/dhtmlxcalendar.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">

</head>

<body>
	<div class="container">
		<!-- Header Start -->
		<div class="header center-block">
			<div class="menu-background">
				<div class="col-sm-2">
					<img src="images/logo.png" class="logo" />
				</div>
				<div class="col-sm-10">
					<div class="tata-tabs clearfix">
						<div class="circle circle1">
							<a href="#">Home</a>
						</div>
						<div class="circle circle2">
							<a href="#">About the program</a>
						</div>
						<div class="circle circle3 dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Option 1</a>
								</li>
								<li>
									<a href="#">Option 2</a>
								</li>
								<li>
									<a href="#">Option 3</a>
								</li>
							</ul>
						</div>
						<div class="circle circle4">
							<a href="#">My Privileges</a>
						</div>
						<div class="circle circle5">
							<a href="#">Events</a>
						</div>
						<div class="circle circle6 dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource Centre
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Resource Centre1</a>
								</li>
								<li>
									<a href="#">Resource Centre2</a>
								</li>
								<li>
									<a href="#">Resource Centre3</a>
								</li>
							</ul>
						</div>
						<div class="circle circle7 active">
							<a href="#">Contest</a>
						</div>
					</div>
					<div class="help-links">
						<div class="faq-options">
							<a href="#">FAQ</a>
						</div>
						<div class="pipe">|</div>
						<div class="faq-options">
							<a href="#" class="contactus">Contact Us</a>
						</div>
						<div class="pull-left">
							<p class="tatalogo">
								<img src="images/tata.png" />
							</p>
						</div>
					</div>
					<div class="logout-left">
						<a href="#">
							<img src="images/Logout.png" width="84" height="29">
						</a>
					</div>
				</div>
			</div>
		</div>


		<script>
			var dynamicData = {
				page: [
					{
						categoryName: "Audio-Visual Photography",
						items: []
					},
					{
						categoryName: "Mens' Wear",
						items: []
					},
					{
						categoryName: "Women's Wear",
						items: []
					},
					{
						categoryName: "Vehicle Accessories",
						items: []
					},
					{
						categoryName: "Kitched Applicance",
						items: []
					}
				]

			}


			var dymmynames = ["Samsung Galaxy s8", "Cannon Camera", "Acer Mobile", "Blue Mobile", "Senheizer Earphone", "Nokia N9", "Apple iPhone 8", "Google Pixel 2", "Xiaomi Redmi 5A", "LG Nexux 5", "LG V20", "Samsung Galaxy Note 8", "One Plus 5T", "Huawei Honor 6", "Huawei Honor 7", "Micromax Canvas A", "Lenovo Idea Pad", "Microsoft Surface RT", "Gionee Tablet", "Sony Headphone"];

			dynamicData.page.forEach(function (key, index) {
				for (var i = 1; i < 20; i++) {
					key.items.push({
						imgUrl: "images/item" + (i % 6) + ".jpg",
						name: dymmynames[(i % dymmynames.length)],
						category: "Smart Phone",
						code: "TC1369",
						points: [(6000 + i), (4900 + i)],
						point: (4900 + i),
						tag: "NEW",
						offer: "20% OFF",
						checked: true
					});
				}
			});

			console.log(dynamicData);
		</script>



		<!-- Header End -->
		<!-- Body Content Start -->





		<div class="body-container create-pdf body-content clearfix" ng-app="app" ng-controller="PDFCreateSelectItemCtrl">

			<div class="bg-tata-blue font-white text-center padding-10">
				<h2 class="margin-top-0" ng-bind="page.currentPage.categoryName"></h2>
				<p class="margin-0">(Uncheck Any Unneeded Items)</p>
			</div>

			<div class="padding-10 self-clear">
				<div class="pull-left">
					<input type="checkbox" class="align-middle margin-0" ng-model="page.currentPage.checkall" ng-change="onAllChange(page.currentPage.checkall)" ng-no-propa>
					<span class="align-middle pointer noselect" ng-click="page.currentPage.checkall = !page.currentPage.checkall; onAllChange(page.currentPage.checkall);">All</span>
				</div>
				<div class="pull-right">
					<span>Sort by: </span>
					<select class="btn btn-transparent" ng-model="page.sortMode">
						<option value="name">name: ascending</option>
						<option value="-name">name: descending</option>
						<option value="point">points: low to high</option>
						<option value="-point">points: high to low</option>
					</select>
					</select>
				</div>
			</div>

			<div class="self-clear">
				<div class="col-sm-3 cat-item text-center margin-bottom-20" ng-repeat="item in page.currentPage.items | orderBy : page.sortMode"
				 ng-class="{'unchecked' : !item.checked}">
					<div class="border-tata-blue pointer bg-white" ng-click="item.checked = !item.checked">

						<div class="relative item-thum-stage">

							<div class="absolute top-0 right-0">
								<input type="checkbox" ng-model="item.checked" class="margin-0" ng-no-propa>
							</div>

							<div class="absolute top-0 left-0 bg-tata-blue font-white padding-5">
								<p class="margin-0 font-11" ng-bind="item.tag"></p>
							</div>
							<img ng-src="{{item.imgUrl}}" class="image-item">
							<div class="absolute bottom-0 right-0 bg-tata-blue font-white padding-5">
								<p class="margin-0 font-11" ng-bind="item.offer"></p>
							</div>
						</div>
						<div class="bg-dark-grey font-white padding-10">
							<p class="text-uppercase" ng-bind="item.name"></p>
							<p class="text-uppercase" ng-bind="item.category"></p>
							<p>Code: {{item.code}} Points:
								<strike>{{item.points[0]}}</strike> {{item.points[1]}}</p>

						</div>
					</div>
				</div>

			</div>


			<div class="text-right bg-tata-blue padding-20 self-clear">
				<ul class="pagination pull-left margin-0">
				  <li ng-click="page.gotoFirst()" ng-class="{'disabled' : (page.currentIndx <= 0)}">
					<a href="">First</a>
				  </li>
				  <li ng-click="page.prev()" ng-class="{'disabled' : (page.currentIndx <= 0)}">
					<a href="">Prev</a>
				  </li>
				  <li ng-repeat="pageItem in page.pages" ng-class="{'active' : page.currentIndx == $index}" ng-click="page.goto($index)">
					<a href="">{{$index}}</a>
				  </li>
				  <li ng-click="page.next()" ng-class="{'disabled' : (page.currentIndx == (page.length - 1))}">
					<a href="">Next</a>
				  </li>
				  <li ng-click="page.gotoLast()" ng-class="{'disabled' : (page.currentIndx == (page.length - 1))}">
					<a href="">Last</a>
				  </li>
				</ul>
				<div class="pull-right">
				  <button class="btn btn-success" ng-click="submit()">SUBMIT</button>
				</div>
			  </div>




			<div class="loading pop-up" ng-class="(loading.state == true)?'active':''">
				<div>
					<div class="body" id="floatBarsG">
						<div id="floatBarsG_1" class="floatBarsG"></div>
						<div id="floatBarsG_2" class="floatBarsG"></div>
						<div id="floatBarsG_3" class="floatBarsG"></div>
						<div id="floatBarsG_4" class="floatBarsG"></div>
						<div id="floatBarsG_5" class="floatBarsG"></div>
						<div id="floatBarsG_6" class="floatBarsG"></div>
						<div id="floatBarsG_7" class="floatBarsG"></div>
						<div id="floatBarsG_8" class="floatBarsG"></div>
					</div>
				</div>
			</div>

		</div>


		<!-- Body Content End -->
		<!-- Footer Start -->
		<div class="footer ">
			<p class="copyright">Powered by
				<a href="#">
					<img width="25%" src="images/BIWorldwide_logo.jpg" alt="BIWORLDWIDE.CO.IN">
				</a>
			</p>

			<span class="footer-list">
				<a href="">Privacy Policy</a>
				<a href="">Terms of Use</a>
			</span>


			<p class="tata-genuine">
				<img src="images/tata-genuine.png">
			</p>
		</div>
		<!-- Footer End -->
	</div>
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/dhtmlxcalendar.js"></script>
	<script src="js/velocity.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/angular-app.js"></script>
	<script src="js/pdf_create_select_item.js"></script>


</body>

</html>