<!DOCTYPE html>
<html>
<head>
	<title>TML Referal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<style>
		@charset "UTF-8";	[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
		ng\:form {
			display:block;
		}
		.ng-animate-shim {
			visibility:hidden;
		}
		.ng-anchor {
			position:absolute;
		}

	</style>
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
	
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
	<!-- Header End --> 
	<!-- Body Content Start -->
	<div class="body-container" ng-app="app" ng-controller="referal">
		<div class="clearfix body-content referal">
					
	<script>
		var dynamicData = {
			config : {
				api : {
					//API URL where we can find if data already exist by phone number
					searchExisting : "http://172.16.174.98/workspace/PROJECTS/Tata_motors/Tata_champoin/data/referalSearchExisting.php",
					//API URL to get the form option
					getFormOption : "http://172.16.174.98/workspace/PROJECTS/Tata_motors/Tata_champoin/data/getFormOption.php",
					//API URL to submit the form
					submitForm : "http://172.16.174.98/workspace/PROJECTS/server/dummy/index.php"
				},
				isReferalLead : true
			},
			role : [
				{
					name : "Champion",
					id 	: 1
				},
				{
					name : "Guru",
					id 	: 2
				},
				
			],
			status : [
				{
					name : "Valid",
					id 	: 1
				},
				{
					name : "Invalid",
					id 	: 2
				},
				
			],
			region : [
				{
					name : "East",
					id 	: 1
				},
				{
					name : "West",
					id 	: 2
				},
				{
					name : "North",
					id 	: 3
				},
				{
					name : "South",
					id 	: 4
				}
			]
		};
	</script>
			<div class="album_cta self-clear">
				<div class="center-text">
					<span><h4>Is this a referral Lead?</h4></span>
					<button class="CTA blueBtn" ng-class="(!tab.isReferalLead)?'inactive':''" ng-click="tab.isReferalLead = true">YES</button>
					<button class="CTA blueBtn" ng-class="(tab.isReferalLead)?'inactive':''" ng-click="tab.isReferalLead= false">NO</button>
				</div>
			</div>
			
			<div class="tab" ng-cloak ng-show="tab.isReferalLead">
				<h2 class="blue_head center-text">REFERRAL SUBMISSION</h2>
				<form action="#" method="post" ng-submit="referalForm.submit($event)">
					<table class="formTable">
						<tr>
							<td>Mobile Number of Lead/prospect</td>
							<td><input type="number" name="mobile" required ng-customvalidate ng-length="10" ng-len-msg="Mobile number should be 10 digit numeric value" ng-model="referalForm.mobile.value" ng-change="referalForm.mobile.checkValidity($event)"></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<p class="alert alert-danger" ng-cloak ng-show="referalForm.notSearchedMsg.shown">Please check validity</p>
								<button class="float-right CTA blueBtn" style="margin:3px 0px 10px 0px;" ng-click="referalForm.searchExisting($event)" ng-disabled="!referalForm.mobile.valid" type="button">Check Validity</button>
							</td>
						</tr>
						<tr>
							<td>Role Name</td>
							<td>
								<select ng-model="referalForm.role.value" ng-options="x.name for x in referalForm.role.options" ng-disabled="referalForm.role.disabled" required>
									<option value="" disabled>Select Role</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Referral Status</td>
							<td>
								<select ng-model="referalForm.referalStatus.value" ng-options="x.name for x in referalForm.referalStatus.options" ng-disabled="referalForm.referalStatus.disabled" required>
									<option value="" disabled>Select Status</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Region</td>
							<td>
								<select ng-model="referalForm.region.value" ng-change="referalForm.region.getOptions()" ng-options="x.name for x in referalForm.region.options" ng-disabled="referalForm.region.disabled" required>
									<option value="" disabled>Select Region</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>APM(Area Office)</td>
							<td>
								<select ng-model="referalForm.apm.value" ng-change="referalForm.apm.getOptions()" ng-options="x.name for x in referalForm.apm.options" ng-disabled="referalForm.apm.disabled" required>
									<option value="" disabled>Select Apm</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Distributor Name</td>
							<td>
								<select ng-model="referalForm.distributor.value" ng-change="referalForm.distributor.getOptions()" ng-options="x.name for x in referalForm.distributor.options" ng-disabled="referalForm.distributor.disabled" required>
									<option value="" disabled>Select Distributor</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Distributor Code</td>
							<td>
								<select ng-model="referalForm.distributorCode.value" ng-change="referalForm.distributorCode.getOptions()" ng-options="x.name for x in referalForm.distributorCode.options" ng-disabled="referalForm.distributorCode.disabled" required>
									<option value="" disabled>Select Distributor</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Reason for Invalid</td>
							<td><textarea ng-model="referalForm.invalidReason.value" placeholder="Open text (max 500 words)" ng-disabled="referalForm.invalidReason.disabled"></textarea></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td class="right-text">
								<p class="alert alert-success" ng-show="referalForm.submitted.shown" ng-cloak>Form has been submitted</p>
								
								
								<input type="submit" class="float-right CTA blueBtn" value="SUBMIT" ng-disabled="referalForm.submitted.shown">
								<input type="button" class="float-right CTA blueBtn" value="Reset" ng-show="referalForm.submitted.shown" ng-cloak ng-click="referalForm.reset()">
							</td>
						</tr>
					</table>
				</form>
			</div>
			
			<div class="tab" ng-cloak ng-show="!tab.isReferalLead">
				<h2 class="blue_head center-text">REGISTRATION SUBMISSION</h2>
				<form action="#" method="post" ng-submit="regnForm.submit($event)">
					<table class="formTable">
						<tr>
							<td>Mobile Number of Lead/prospect</td>
							<td><input type="number" name="mobile" required ng-customvalidate ng-length="10" ng-len-msg="Mobile number should be 10 digit numeric value" ng-model="regnForm.mobile.value" ng-change="regnForm.mobile.checkValidity($event)"></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<p class="alert alert-danger" ng-cloak ng-show="regnForm.notSearchedMsg.shown">Please check validity</p>
								<button class="float-right CTA blueBtn" style="margin:3px 0px 10px 0px;" ng-click="regnForm.searchExisting($event)" ng-disabled="!regnForm.mobile.valid" type="button">Check Validity</button>
							</td>
						</tr>
						<tr>
							<td>Role Name</td>
							<td>
								<select ng-model="regnForm.role.value" ng-options="x.name for x in regnForm.role.options" ng-disabled="regnForm.role.disabled" required>
									<option value="" disabled>Select Role</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Region</td>
							<td>
								<select ng-model="regnForm.region.value" ng-change="regnForm.region.getOptions()" ng-options="x.name for x in regnForm.region.options" ng-disabled="regnForm.region.disabled" required>
									<option value="" disabled>Select Region</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>APM(Area Office)</td>
							<td>
								<select ng-model="regnForm.apm.value" ng-change="regnForm.apm.getOptions()" ng-options="x.name for x in regnForm.apm.options" ng-disabled="regnForm.apm.disabled" required>
									<option value="" disabled>Select Apm</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Distributor Name</td>
							<td>
								<select ng-model="regnForm.distributor.value" ng-change="regnForm.distributor.getOptions()" ng-options="x.name for x in regnForm.distributor.options" ng-disabled="regnForm.distributor.disabled" required>
									<option value="" disabled>Select Distributor</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Distributor Code</td>
							<td>
								<select ng-model="regnForm.distributorCode.value" ng-change="regnForm.distributorCode.getOptions()" ng-options="x.name for x in regnForm.distributorCode.options" ng-disabled="regnForm.distributorCode.disabled" required>
									<option value="" disabled>Select Distributor</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<td>&nbsp;</td>
							<td class="right-text">
								<p class="alert alert-success" ng-show="regnForm.submitted.shown" ng-cloak>Form has been submitted</p>
								<input type="submit" class="float-right CTA blueBtn" value="SUBMIT" ng-disabled="regnForm.submitted.shown">
								<input type="button" class="float-right CTA blueBtn" value="Reset" ng-show="regnForm.submitted.shown" ng-cloak ng-click="regnForm.reset()">
							</td>
						</tr>
					</table>
				</form>
			</div>
			

		</div>
		
		<div class="loading pop-up" ng-class="(loading.status == true)?'active':''" ng-init="log(loading)">
			<div>
				<div class="body" id="floatBarsG">
					<div id="floatBarsG_1" class="floatBarsG"></div>
					<div id="floatBarsG_2" class="floatBarsG"></div>
					<div id="floatBarsG_3" class="floatBarsG"></div>
					<div id="floatBarsG_4" class="floatBarsG"></div>
					<div id="floatBarsG_5" class="floatBarsG"></div>
					<div id="floatBarsG_6" class="floatBarsG"></div>
					<div id="floatBarsG_7" class="floatBarsG"></div>
					<div id="floatBarsG_8" class="floatBarsG"></div>
				</div>
			</div>
		</div>
			
	</div>
	
	
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by<a href="#"><img width="25%" src="images/BIWorldwide_logo.jpg" alt="BIWORLDWIDE.CO.IN"></a></p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="js/jquery-1.10.2.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
<script src="js/angular-app.js"></script>
<script src="js/tml_referal_controller.js"></script>


</body>
</html>