<!DOCTYPE html>
<html>
<head>
	<title>TML Mapping</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<style>
		@charset "UTF-8";	[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
		ng\:form {
			display:block;
		}
		.ng-animate-shim {
			visibility:hidden;
		}
		.ng-anchor {
			position:absolute;
		}

	</style>
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="bootstrap/css/customized.css" rel="stylesheet">
	<link href="bootstrap/css/style.css" rel="stylesheet">
	<link href="images/tata.png" rel="shortcut icon">
	
</head>

<body>
<div class="container"> 
  <!-- Header Start -->
	<div class="header">
		<div class="menu-background">
			<div class="col-sm-2"><img src="images/logo.png" class="logo" /></div>
		<div class="col-sm-10">
        <div class="tata-tabs clearfix">
          <div class="circle circle1"><a href="#">Home</a></div>
          <div class="circle circle2"><a href="#">About the program</a></div>
          <div class="circle circle3 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
            </ul>
          </div>
          <div class="circle circle4"><a href="#">My Privileges</a></div>
          <div class="circle circle5"><a href="#">Events</a></div>
          <div class="circle circle6 dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">Resource 
            Centre</a>
            <ul class="dropdown-menu">
              <li><a href="#">Resource Centre1</a></li>
              <li><a href="#">Resource Centre2</a></li>
              <li><a href="#">Resource Centre3</a></li>
            </ul>
          </div>
          <div class="circle circle7 active"><a href="#">Contest</a></div>
        </div>
        <div class="help-links">
          <div class="faq-options"><a href="#">FAQ</a></div>
          <div class="pipe">|</div>
          <div class="faq-options"><a href="#" class="contactus">Contact Us</a></div>
          <div class="pull-left">
            <p class="tatalogo"><img src="images/tata.png" /></p>
          </div>
        </div>
        <div class="logout-left"><a href="#"><img src="images/Logout.png" width="84" height="29"></a></div>
      </div>
    </div>
  </div>
  
 <script>
	var dynamicData = {
		config : {
			api : {
				getOptions : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/getFormOption.php",
				getChampions: "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/getChampions.php",
				tagUntag : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/tagUntag.php",
				searchApi : "http://172.16.174.75/workspace/PROJECTS/Tata_motors/Tata_champoin/data/searchMsrDsr.php"
			}
		},
		list : [],
		filter : {
			region : [
				{
					name : "East",
					id : 1
				},
				{
					name : "West",
					id : 2
				},
				{
					name : "North",
					id : 3
				},
				{
					name : "South",
					id : 4
				},
				
			],
		}
	};
</script>
	<!-- Header End --> 
	<!-- Body Content Start -->
	<div class="body-container tml_mapping" ng-app="app" ng-controller="tml_mapping">

		<div class="blue_head center-text">
			<select ng-model="region.value" ng-options="x.name for x in region.list track by x.id" ng-change="apm.getList('region',region.value);">
				<option value="" disabled>Region</option>
			</select>
			<select ng-model="apm.value" ng-options="x.name for x in apm.list track by x.id" ng-change="distributor.getList('apm',apm.value);">
				<option value="" disabled>APM</option>
			</select>
			<select ng-model="distributor.value" ng-options="x.name for x in distributor.list track by x.id" ng-change="msrDsr.getList('distributor',distributor.value);">
				<option value="" disabled>Distributor</option>
			</select>
			<select ng-model="msrDsr.value" ng-options="x.name for x in msrDsr.list track by x.id" ng-change="msrDsr.select()">
				<option value="" disabled>MSR/DSR</option>
			</select>
		</div>

		<div class="self-clear info_search">
			<div class="col-sm-6">
				<h3 ng-bind="msrDsr.value | bindMsrDsrName"></h3>
			</div>
			
			<div class="col-sm-4 pull-right search">
				<div>
					<span class="glyphicon glyphicon-search"></span>
					<input type="text" placeholder="Search for MSR/DSR" id="searchMsrDsr" ng-autocomplete="search">
				</div>
			</div>
		</div>
		
		<div class="btn-group btn-group-justified">
			<a class="btn btn-primary" href="#" ng-show="tagChamp.shown" ng-cloak ng-click="tagChamp.getList()" ng-class="(tagBtnPtr == 'tagChamp')?'active':''" title="Get the list of all orphaned Champion's to tag">TAG CHAMPION</a>
			
			<a class="btn btn-primary" href="#" ng-show="untagChamp.shown" ng-cloak ng-click="untagChamp.getList()" ng-class="(tagBtnPtr == 'untagChamp')?'active':''" title="Get the list of all Champion's under selected MSR/DSR to untag">UNTAG CHAMPION</a>
			
			<a class="btn btn-primary" href="#" ng-show="tagGuru.shown" ng-cloak ng-click="tagGuru.getList()" ng-class="(tagBtnPtr == 'tagGuru')?'active':''" title="Get the list of all orphaned Guru's to tag">TAG GURU</a>
			
			<a class="btn btn-primary" href="#" ng-show="untagGuru.shown" ng-cloak ng-click="untagGuru.getList()" ng-class="(tagBtnPtr == 'untagGuru')?'active':''" title="Get the list of all Guru's under selected MSR/DSR to untag">UNTAG GURU</a>
		</div>
		
		<div class="table-responsive" ng-class="(data.shown)?'active':'inactive'">
		
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="blue_head" ng-click="data.sort.sortIt('code');">
							<span ng-show="(data.desig=='champion')">Tata Champion Code</span>
							<span ng-show="(data.desig=='guru')">MECHANIC CARD NO.</span>
							<p class="sort" ng-class="[(data.sort.key == 'code' || data.sort.key == '-code')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						
						<th class="blue_head" ng-click="data.sort.sortIt('retailer_name');">
							<span ng-show="(data.desig=='champion')">Retailer Name</span>
							<span ng-show="(data.desig=='guru')">MECHANIC Name</span>
							<p class="sort" ng-class="[(data.sort.key == 'retailer_name' || data.sort.key == '-retailer_name')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						
						<th class="blue_head" ng-click="data.sort.sortIt('firm_name');">
							<span ng-show="(data.desig=='champion')">Firm Name</span>
							<span ng-show="(data.desig=='guru')">MECHANIC GARAGE </span>
							<p class="sort" ng-class="[(data.sort.key == 'firm_name' || data.sort.key == '-firm_name')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						
						<th class="blue_head" ng-show="(data.desig=='guru')" ng-click="data.sort.sortIt('owner_name');">
							Garage Owner Name
							<p class="sort" ng-class="[(data.sort.key == 'owner_name' || data.sort.key == '-owner_name')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						
						<th class="blue_head" ng-click="data.sort.sortIt('mobile');">
							MOBILE NO 1
							<p class="sort" ng-class="[(data.sort.key == 'mobile' || data.sort.key == '-mobile')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						
						<th class="blue_head" ng-click="data.sort.sortIt('address');">
							<span ng-show="(data.desig=='champion')">Address</span>
							<span ng-show="(data.desig=='guru')">Garage Address</span>
							<p class="sort" ng-class="[(data.sort.key == 'address' || data.sort.key == '-address')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						<th class="blue_head" ng-click="data.sort.sortIt('state');">
							State
							<p class="sort" ng-class="[(data.sort.key == 'state' || data.sort.key == '-state')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						
						<th class="blue_head" ng-click="data.sort.sortIt('district');">
							District
							<p class="sort" ng-class="[(data.sort.key == 'district' || data.sort.key == '-district')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
						
						<th class="blue_head" ng-click="data.sort.sortIt('pincode');">
							Pincode
							<p class="sort" ng-class="[(data.sort.key == 'pincode' || data.sort.key == '-pincode')?'active':'', (data.sort.order == 'dsc')?'reverse':'']">&rsaquo;</p>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in data.list | orderBy : data.sort.key" ng-click="x.checked = !x.checked" ng-class="(x.checked)?'active':''">
						<td>
							<input type="checkbox" ng-model="x.checked" ng-no-propa>
							<label ng-bind="x.code"></label>
						</td>
						<td ng-bind="x.retailer_name"></td>
						<td ng-bind="x.firm_name"></td>
						<td ng-show="(data.desig=='guru')" ng-bind="x.owner_name"></td>
						<td ng-bind="x.mobile"></td>
						<td ng-bind="x.address"></td>
						<td ng-bind="x.state"></td>
						<td ng-bind="x.district"></td>
						<td ng-bind="x.pincode"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="text-right">
			<button class="btn1" ng-show="tagConfirm.shown" ng-click="tagConfirm.tagUntag();" ng-cloak>TAG SELECTED</button>
			<button class="btn1" ng-show="untagConfirm.shown" ng-click="untagConfirm.tagUntag();" ng-cloak>UNTAG SELECTED</button>
		</div>
	
		<div class="loading pop-up" ng-class="(loading.status == true)?'active':''" ng-init="log(loading)">
			<div>
				<div class="body" id="floatBarsG">
					<div id="floatBarsG_1" class="floatBarsG"></div>
					<div id="floatBarsG_2" class="floatBarsG"></div>
					<div id="floatBarsG_3" class="floatBarsG"></div>
					<div id="floatBarsG_4" class="floatBarsG"></div>
					<div id="floatBarsG_5" class="floatBarsG"></div>
					<div id="floatBarsG_6" class="floatBarsG"></div>
					<div id="floatBarsG_7" class="floatBarsG"></div>
					<div id="floatBarsG_8" class="floatBarsG"></div>
				</div>
			</div>
		</div>
			
	</div>
	
	
	<!-- Body Content End --> 
	<!-- Footer Start -->
	<div class="footer ">
		<p class="copyright">Powered by<a href="#"><img width="25%" src="images/BIWorldwide_logo.jpg" alt="BIWORLDWIDE.CO.IN"></a></p>
		<p class="tata-genuine"><img src="images/tata-genuine.png"></p>
	</div>
  <!-- Footer End --> 
</div>
<script src="js/jquery-1.10.2.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/angular.min.js"></script>
<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
<script src="js/angular-app.js"></script>
<script src="js/tml_mapping.js"></script>


</body>
</html>